{% extends 'base.html' %}
{% load static %}
{% block titulo %}
Gesipe
{% endblock %}


{% block content %}


    <header class="min-h-screen showcase border-gray-600 border-b-8 flex justify-center items-center bg-no-repeat">
        <div class="z-10 h-full py-32 md:py-0 text-center flex items-center flex-col">

            <h1 class="font-semibold text-4xl md:text-5xl w-10/12 md:w-3/4 text-center">
                Adicionar ou editar Informações do Administrativo da Gesipe.
            </h1>
            <div class="py-5">
                {% for data in object_list %}
                <a href="{% url 'gesipe:gesipe_adm_data' data.id %}"><p>{{ data }}</p></a>
                    <hr>
                    <p> {{ data.processos }} </p>
                    <hr>
                    <p> {{ data.memorandos_diarias }} </p>
                     <hr>
                    <p> {{ data.total }} </p>

                {% endfor %}
            </div>

             <div>
                 <p>{{ lista_edicoes_recentes }}</p>
            </div>
        </div>

    </header>
    <footer class=" px-5 py-10 ">
        <ul class="flex justify-between items-center">

            <li>&copy; 2021</li>
            <li> Feito com Python (Django)</li>
            <li>Hashtag</li>
        </ul>
    </footer>




{% endblock %}