{% extends 'base.html' %}

{% load static %}

{% block titulo %}
Gesipe Data
{% endblock %}



{% block content %}
    <div class="flex flex-col justify-center pt-32">


        <div class="container">
            <h1 class="text-center p-3">Preencha as Informações</h1>
        </div>

        <form class="border border-2 border-secondary" action="" method="POST">
            {% csrf_token %}


            <div class="justify-center p-3">
                <label for="data_pesquisa" class="form-label">Digita a Data para inclusao ou edicao </label>
                <input type="date" class="form-control" id="data_pesquisa" aria-describedby="emailHelp">

            </div>
        </form>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Data Já Existente</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Informacoes para data ja existentes, deseja editar?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-danger">Editar</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var myModal = new bootstrap.Modal(document.getElementById('myModal'));
            document.getElementById('botao_buscar').addEventListener('click', function() {
                myModal.show();
            });
        });
    </script>
{% endblock %}
