{% extends 'base.html' %}
{% load static %}
{% block titulo %}
Gesipe
{% endblock %}


{% block content %}
<section class="overflow-hidden flex items-center justify-center">
    <div class="pt-20">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">


        <div class="grid grid-cols-1 gap-8 sm:grid-cols-3 lg:grid-cols-4">

            <!-- Administrativo -->
            <div class="rounded-lg shadow-lg p-6 transform hover:scale-105 transition duration-300">
                <div class="mb-8">
                  <h3 class="text-2xl font-semibold ">Administrativo</h3>
                  <p class="mt-4 text-gray-600">Total de Movimentacoes realizadas pelo adminstrativo da gesipe.</p>
                </div>
                <div class="mb-8">
                  <span class="text-xl font-medium text-gray-600">Total de Movimentaçoes:</span>
                  <span class="text-3xl font-extrabold ">{{ total_mov_adm }}</span>

                </div>
                <div class="pb-4">
                    <a href="{% url 'gesipe:gesipe_adm' %}" class="block w-full py-3 px-6 text-center text-white text-base rounded-md  font-medium bg-green-500">
                      Adicionar Registro:
                    </a>
                </div>
                <div class="pb-4">
                    <a href="{% url 'gesipe:gesipe_adm' %}" data-bs-toggle="modal" data-bs-target="#Pesquisar_Data" class="block w-full py-3 px-6 text-center text-white text-base rounded-md  font-medium bg-red-500">
                      Editar Registro:
                    </a>
                </div>
                <div class="pb-4">
                    <a href="{% url 'gesipe:gesipe_adm_lote' %}" class="block w-full py-3 px-6 text-center text-white text-base rounded-md  font-medium bg-blue-500">
                      Edição Em Lote:
                    </a>
                </div>

            </div>

            <!-- SMP -->
            <div class=" rounded-lg shadow-lg p-6 transform hover:scale-105 transition duration-300">
            <div class="mb-8">
              <h3 class="text-2xl font-semibold ">SMP</h3>
              <p class="mt-4 text-gray-600">Total de acoes realizadas pelo Setor de Movimentacao Prisional da Gesipe.</p>
            </div>
            <div class="mb-8">
              <span class="text-xl font-medium text-gray-600">Total de Movimentaçoes:</span>
              <span class="text-3xl font-extrabold "> 108</span>

            </div>

            <a href="#" class="block py-3 px-6 text-center text-white text-base rounded-md  font-medium bg-gray-400">
              Adicionar Informaçoes:
            </a>
            </div>

            <!-- SMP -->
            <div class=" rounded-lg shadow-lg p-6 transform hover:scale-105 transition duration-300">
            <div class="mb-8">
              <h3 class="text-2xl font-semibold ">SMP</h3>
              <p class="mt-4 text-gray-600">Total de acoes realizadas pelo Setor de Movimentacao Prisional da Gesipe.</p>
            </div>
            <div class="mb-8">
              <span class="text-xl font-medium text-gray-600">Total de Movimentaçoes:</span>
              <span class="text-3xl font-extrabold "> 108</span>

            </div>

            <a href="#" class="block py-3 px-6 text-center text-white text-base rounded-md  font-medium bg-gray-400">
              Adicionar Informaçoes:
            </a>
            </div>

            <!-- Gesipe Armaria -->
            <div class=" rounded-lg shadow-lg p-6 transform hover:scale-105 transition duration-300">
            <div class="mb-8">
              <h3 class="text-2xl font-semibold ">Gesipe Armaria</h3>
              <p class="mt-4 text-gray-600">Relatorios termos de acautelamentos e documentos do Setor de Armaria da Gesipe.</p>
            </div>
            <div class="mb-24">
              <span class="text-xl font-medium text-gray-600"></span>
              <span class="text-3xl font-extrabold"></span>

            </div>

                <a href="{% url 'gesipe:gesipe_armaria' %}" class="block py-3 px-6 text-center text-white text-base rounded-md  font-medium bg-red-600">
                  Relatorios e Pdfs Extras:
                </a>
            </div>


         </div>

<!--tabela com os dados gesipe administrativo-->

           <div class="mb-12 pt-12 flex justify-start ">
              <div class="bg-white shadow-lg rounded-lg w-full">
                <div class="p-6 rounded-t-lg">
                  <h1 class="text-3xl font-bold text-center">Dados Administrativos</h1>
                  <div class="mt-4 flex justify-end">
                    <form method="GET" action="#tabela-dados">
                      <input type="text" name="query" id="searchInput" class="form-input border border-black w-full sm:w-auto sm:ml-4 p-2 rounded-md border-gray-300" placeholder="Pesquisar..." value="{{ query }}">
                      <button type="submit" class="hidden"></button>
                    </form>
                  </div>
                </div>
                <div class="overflow-x-auto">
                  <table class="min-w-full  bg-white divide-y divide-gray-200" id="tabela-dados">
                    <thead class="bg-gray-100">
                      <tr>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Data</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Memorandos</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Despachos</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Oficios</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Ordem de Serviço</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Portarias</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Total Geral de Inserções</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Usuário</th>

                      </tr>
                    </thead>
                     <tbody class="bg-white divide-y divide-gray-200">
                        {% for data in object_list %}
                        <tr class="clickable-row" data-href="{% url 'gesipe:gesipe_adm_edit' data.id %}">
                            <td class="px-6 py-4 whitespace-nowrap">
                                {{ data.data|date:"d/m/Y" }}
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">{{ data.total_memorando }}</td>
                            <td class="px-6 py-4 whitespace-nowrap">{{ data.total_despacho }}</td>
                            <td class="px-6 py-4 whitespace-nowrap">{{ data.total_oficio }}</td>
                            <td class="px-6 py-4 whitespace-nowrap">{{ data.total_os }}</td>
                            <td class="px-6 py-4 whitespace-nowrap">{{ data.portarias }}</td>
                            <td class="px-6 py-4 whitespace-nowrap">{{ data.total }}</td>
                            <td class="px-6 py-4 whitespace-nowrap">{{ data.usuario }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="8" class="px-6 py-4 text-center text-gray-500">Nenhum dado encontrado</td>
                        </tr>
                        {% endfor %}
                     </tbody>
                  </table>
                </div>

<!--paginacao-->

                <div id="paginacao" class="p-6 bg-gray-100 rounded-b-lg">
                      <nav aria-label="Page navigation">
                        <ul class="inline-flex items-center -space-x-px">
                          {% if page_obj.has_previous %}
                          <li>
                            <a href="?page=1&query={{ query }}" class="px-3 py-2 ml-0 text-sm font-medium text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100">Primeira</a>
                          </li>
                          <li>
                            <a href="?page={{ page_obj.previous_page_number }}&query={{ query }}" class="px-3 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 hover:bg-gray-100">Anterior</a>
                          </li>
                          {% endif %}

                          {% for p in page_range %}
                          {% if p == page_obj.number %}
                          <li>
                            <span class="px-3 py-2 text-sm font-medium text-white bg-blue-500 border border-gray-300">{{ p }}</span>
                          </li>
                          {% else %}
                          <li>
                            <a href="?page={{ p }}&query={{ query }}" class="px-3 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 hover:bg-gray-100">{{ p }}</a>
                          </li>
                          {% endif %}
                          {% endfor %}

                          {% if page_obj.has_next %}
                          <li>
                            <a href="?page={{ page_obj.next_page_number }}&query={{ query }}" class="px-3 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 hover:bg-gray-100">Próxima</a>
                          </li>
                          <li>
                            <a href="?page={{ page_obj.paginator.num_pages }}&query={{ query }}" class="px-3 py-2 text-sm font-medium text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100">Última</a>
                          </li>
                          {% endif %}
                        </ul>
                      </nav>
                    </div>
              </div>
            </div>


            <!--                  grafico de linha administrativo-->

           <div class="col-span-4 bg-white border border-gray-200 rounded-lg shadow-xl px-4 py-4">
                <div class="flex items-center justify-between pb-4 mb-4 border-b border-gray-200">
                    <div>
                        <h3 class="text-base font-normal text-gray-500 dark:text-gray-400">Tipo de Movimentacao</h3>
                        <span class="text-2xl font-bold leading-none text-gray-900 sm:text-3xl dark:text-white">Administrativo</span>
                    </div>

                </div>
                <div class="">
                    <canvas id="myLineChart" width="200" height="100"></canvas>
                </div>
           </div>












      </div>
    </div>
</section>



 <!-- Modal para pesquisar data -->
<div class="modal fade" id="Pesquisar_Data" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title" id="myModalLabel">Digitar Data</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="dataForm" class="form-group border border-2 border-secondary" method="POST">
                {% csrf_token %}
                <div class="justify-center p-3">
                    <label for="data_pesquisa" class="form-label">Digite a Data para inclusão ou edição:</label>
                    <input type="date" class="form-control" id="data_pesquisa" name="data_pesquisa" required>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-danger">Buscar</button>
                </div>
            </form>
        </div>
    </div>
</div>





 <script>
    document.querySelectorAll('.clickable-row').forEach(row => {
        row.addEventListener('click', () => {
            window.location.href = row.getAttribute('data-href');
        });
    });
</script>

<!--script modal de adicao ou inclusao de data-->

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var dataForm = document.getElementById('dataForm');

        if (dataForm) {
            dataForm.addEventListener('submit', function(event) {
                event.preventDefault();  // Previne o envio normal do formulário

                var data = document.getElementById('data_pesquisa').value;
                if (!data) {
                    alert('Por favor, digite uma data.');
                    return;
                }

                var formData = new FormData();
                formData.append('data_pesquisa', data);
                formData.append('csrfmiddlewaretoken', document.querySelector('[name=csrfmiddlewaretoken]').value);

                fetch('{% url "gesipe:gesipe" %}', {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest',
                        'X-CSRFToken': formData.get('csrfmiddlewaretoken')
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.exists) {
                        // Se a data existe, redireciona para a página de edição
                        window.location.href = data.url;
                    } else {
                        // Se a data não existe, redireciona para a página de criação
                        window.location.href = data.url;
                    }
                })
                .catch(error => console.error('Error:', error));
            });
        }
    });
</script>



<script>
    // Dados do gráfico de linhas
    var ctx = document.getElementById('myLineChart').getContext('2d');
    var lineLabels = {{ line_labels|safe }};
    var lineValues = {{ line_values|safe }};

    var myLineChart = new Chart(ctx, {
        type: 'line', // Altere para 'line' se estiver usando um gráfico de linha
        data: {
            labels: lineLabels,
            datasets: [{
                label: 'Total Geral de Inserções',
                data: lineValues,
                backgroundColor: 'rgba(210, 0, 0, 0.55)', // Cor de fundo da área do gráfico
                borderColor: 'rgba(210, 0, 0, 1)', // Cor da linha do gráfico
                borderWidth: 2, // Largura da linha
                fill: true, // Preenche a área sob a linha
                pointRadius: 0, // Remove os pontos
                borderCapStyle: 'round', // Arredonda as extremidades da linha
                borderJoinStyle: 'round', // Arredonda as junções da linha
                tension: 0.4 // Adiciona uma suavização à linha
            }]
        },
        options: {
            scales: {
                x: {
                    grid: {
                        display: false // Oculta a grade no eixo X
                    }
                },
                y: {
                    beginAtZero: true, // Começa o eixo Y no zero
                    grid: {
                        display: false // Oculta a grade no eixo Y
                    }
                }
            }
        }
    });
</script>


{% endblock %}