{% extends 'base.html' %}

{% load static %}

{% block titulo %}
Gesipe Administrativo
{% endblock %}



{% block content %}
    <div class="container pt-32">
        <h1 class="text-center pb-3">Preencha as Informações</h1>
        <form class="form-group container border border-2 border-secondary" action="" method="POST">
            {% csrf_token %}
            <div class="row d-flex justify-content-center p-3">
                <div class="col-md-3 col-8 col-xl-2 text-center">
                    {{ form_busca.data.label }}
                    {{ form_busca.data }}
                    <button type="submit" name="botao_buscar" class="btn btn-primary">Buscar</button>
                </div>
            </div>
        </form>

        {% if mostrar_formulario %}
        <div class="container">
            <h1 class="text-center p-3">Preencha as Informações</h1>
        </div>

        <form class="form-group container border border-2 border-secondary" action="" method="POST">
            {% csrf_token %}
            <div class="col-md-12 col-12 p-4 d-flex">
                <button type="submit" name="botao_submit" class="btn btn-primary">Enviar</button>
                <span class="ms-auto">
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Excluir Registro</button>
                </span>
            </div>

            <div class="row d-flex justify-content-center p-3">
                {% for field in form_data %}
                    <div class="col-md-2 col-6">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% endfor %}
            </div>
            <hr>
            <!-- Adicione mais seções conforme necessário -->
        </form>
    </div>
{% endif %}

{% endblock %}