{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% load static %}

{% block titulo %}
Gesipe Administrativo
{% endblock %}



{% block content %}
    <div class="container pt-3">


        <div class="container">
            <h1 class="text-center text-bold text-3xl pb-5 font-mono">Preencha as Informações:</h1>
        </div>

        <form class="form-group container border border-2 border-secondary" action="{% url 'gesipe:gesipe_sga_add' %}" method="POST">
            {% csrf_token %}


            <div class="grid lg:grid-cols-4 grid-cols-2 justify-items-stretch gap-4 px-3 py-4">
                {% for field in form %}
                  <div class="px-8">
                    <label class="form-label font-semibold lg:text-base text-2xl ">{{ field.label }}</label>
                    {{ field }}
                  </div>
                {% endfor %}
            </div>
             <div class="col-md-12 col-12 p-4 d-flex justify-content-center">
                <button type="submit" name="botao_submit" class="btn btn-success">Salvar informaçoes</button>
            </div>
            <hr>
            <!-- Adicione mais seções conforme necessário -->
        </form>
    </div>





{% endblock %}
