/*Fonte do Site */

body {
    font-family: 'Be Vietnam', sans-serif;
}


.clickable-row {
    user-select: none; /* Impede a seleção de texto */
    -webkit-user-select: none; /* Para navegadores baseados no WebKit */
    -moz-user-select: none; /* Para Firefox */
    -ms-user-select: none; /* Para Internet Explorer/Edge */
    cursor: pointer; /* Mantém o cursor como ponteiro */
}

.clickable-row td {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/* Efeito ao passar o mouse */
.clickable-row:hover {
    background-color: #f0f0f0; /* Cor de fundo ao passar o mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ao passar o mouse */
}


.carousel-control-prev-icon {
    background-color: black; /* Define a cor do ícone para preto */
}

.carousel-control-next-icon {
    background-color: black; /* Define a cor do ícone para preto */
}