{% extends 'base.html' %}
{% load static %}
{% block titulo %}
Ajuda de Custo
{% endblock %}


{% block content %}





<!--tabela com internos-->

<div class="mb-12 flex px-4 xl:px-12 justify-start w-full pt-4">
    <div class="bg-white shadow-lg rounded-lg w-full">
        <div class="p-6 rounded-t-lg">
            <div>
               <div class="flex items-center justify-between pb-4 mb-4 border-b border-gray-200">
                    <div>
                        <h3 class="xl:text-base text-2xl font-normal text-gray-500 dark:text-gray-400 pb-2">Relatório</h3>
                        <span class="xl:text-2xl text-5xl font-bold leading-none text-gray-900 dark:text-white">Internos</span>
                    </div>

                    <a href="{% url 'interno:relatorio_interno' %}" class="inline-flex items-center p-2 text-2xl xl:text-xl font-bold uppercase rounded-lg text-primary-700 hover:bg-gray-100 dark:text-primary-500 dark:hover:bg-gray-700">
                        Dados Completos
                        <svg class="w-4 h-4 ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                        </svg>
                    </a>

               </div>
            </div>

                <form method="GET" onsubmit="return false;">
                    <div class="mt-4 px-0 flex flex-row justify-between w-full">
                        <div class="flex flex-row">
                            <!-- Campo Prontuario -->
                            <input
                                class="form-input w-full sm:w-auto sm:ml-4 p-1.5 rounded-md border-1 border-gray-600"
                                type="text"
                                name="prontuario"
                                id="prontuario"
                                value="{{ request.GET.nome_mae }}"
                                placeholder="Prontuario..."
                                hx-get="{% url 'interno:interno_list' %}"
                                hx-trigger="keyup delay:500ms"
                                hx-target="#content2"
                                hx-include="[name='prontuario'], [name='cpf'], [name='nome_mae'], [name='query']"
                            />
                            <!-- Campo CPF -->
                            <input
                                class="form-input w-full sm:w-auto sm:ml-4 p-1.5 rounded-md border-1 border-gray-600"
                                type="text"
                                name="cpf"
                                id="cpf"
                                value="{{ request.GET.cpf }}"
                                placeholder="CPF..."
                                hx-get="{% url 'interno:interno_list' %}"
                                hx-trigger="keyup delay:500ms"
                                hx-target="#content2"
                                hx-include="[name='cpf'], [name='nome_mae'], [name='query']"
                            />

                            <!-- Campo Nome da Mãe -->
                            <input
                                class="form-input w-full sm:w-auto sm:ml-4 p-1.5 rounded-md border-1 border-gray-600"
                                type="text"
                                name="nome_mae"
                                id="nome_mae"
                                value="{{ request.GET.nome_mae }}"
                                placeholder="Nome da Mãe..."
                                hx-get="{% url 'interno:interno_list' %}"
                                hx-trigger="keyup delay:500ms"
                                hx-target="#content2"
                                hx-include="[name='cpf'], [name='nome_mae'], [name='query']"
                            />

                            <!-- Campo Pesquisa Geral -->
                            <input
                                type="text"
                                name="query"
                                class="form-input w-full sm:w-auto sm:ml-4 p-1.5 rounded-md border-1 border-gray-600"
                                placeholder="Pesquisar..."
                                value="{{ request.GET.query }}"
                                hx-get="{% url 'interno:interno_list' %}"
                                hx-trigger="keyup delay:500ms"
                                hx-target="#content2"
                                hx-include="[name='cpf'], [name='nome_mae'], [name='query']"
                            />
                        </div>
                    </div>
                </form>


        </div>
        <div class="overflow-x-auto">
            <table class="min-w-full bg-white divide-y divide-gray-200">
                <thead class="bg-gray-100">
                    <tr>
                        <th class="px-6 py-3 text-left xl:text-base text-xl font-medium text-gray-500 uppercase tracking-wider">Prontuario</th>
                        <th class="px-6 py-3 text-left xl:text-base text-xl font-medium text-gray-500 uppercase tracking-wider">Nome</th>
                        <th class="px-6 py-3 text-left xl:text-base text-xl font-medium text-gray-500 uppercase tracking-wider">Unidade</th>
                        <th class="px-6 py-3 xl:text-base text-xl font-medium text-gray-500 uppercase tracking-wider">Nome da Mãe</th>
                        <th class="px-6 py-3 text-left xl:text-base text-xl font-medium text-gray-500 uppercase tracking-wider">Cpf</th>
                    </tr>
                </thead>
                <tbody id="content2" class="bg-white divide-y divide-gray-200">
                    {% include "partials/interno_partial.html" %}
                </tbody>
            </table>
        </div>


    </div>

</div>


<script>
// Função para adicionar o comportamento de clique nas linhas
function addClickableRowBehavior() {
    document.querySelectorAll('.clickable-row').forEach(row => {
        // Adiciona o evento de clique na linha
        row.addEventListener('click', (event) => {
            // Redireciona para o link definido no atributo 'data-href'
            window.location.href = row.dataset.href;
        });

        // Adiciona um evento de clique específico para o link do prontuário
        const linkProntuario = row.querySelector('a'); // Seleciona o link dentro da linha
        if (linkProntuario) {
            linkProntuario.addEventListener('click', (event) => {
                // Impede que o clique no link propague para a linha
                event.stopPropagation();
                // O link já tem target="_blank", então ele abrirá em uma nova aba
            });
        }
    });
}

// Adiciona o comportamento de clique nas linhas ao carregar a página
document.addEventListener('DOMContentLoaded', addClickableRowBehavior);

// Adiciona o comportamento de clique nas linhas após o HTMX atualizar o conteúdo
document.addEventListener('htmx:afterSwap', addClickableRowBehavior);
</script>


<!--grafico pizza depois criar js proprios-->


<script>
    document.addEventListener('DOMContentLoaded', function () {
        var ctx = document.getElementById('genero-pizza').getContext('2d');
        var myPieChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: {{ pie_labels|safe }},  // Ex.: ['Masculino', 'Feminino', 'Outros']
                datasets: [{
                    label: 'Distribuição por Gênero',
                    data: {{ pie_values|safe }},  // Ex.: [50, 30, 20]
                    backgroundColor: [
                        'rgba(54, 162, 235, 1)',  // Azul para Masculino
                        'rgba(255, 99, 132, 1)',  // Vermelho para Feminino
                        'rgba(201, 203, 207, 1)'  // Cinza para Outros
                    ],
                    borderColor: [
                        'rgba(54, 162, 235, 1)',  // Azul
                        'rgba(255, 99, 132, 1)',  // Vermelho
                        'rgba(201, 203, 207, 1)'  // Cinza
                    ],
                    borderWidth: 2
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'bottom',
                        labels: {
                            font: {
                                size: 12
                            }
                        }
                    },
                    tooltip: {
                        callbacks: {
                            label: function(tooltipItem) {
                                return tooltipItem.label + ': ' + tooltipItem.raw;
                            }
                        }
                    },
                    datalabels: {
                        display: true,
                        color: '#ffffff',
                        font: {
                            weight: 'bold',
                            size: 14
                        },
                        formatter: (value) => {
                            return `${value}`;  // Exibe o valor numérico de cada segmento
                        }
                    }
                },
                cutout: '50%'  // Ajusta a espessura do gráfico tipo donut, caso esteja usando um gráfico de donut
            }
        });
    });
</script>


<!--grafico barra por unidade-->

<script>
    // Dados do gráfico de barra
    var ctx = document.getElementById('chart-bar').getContext('2d');
    var barLabels = {{ bar_labels|safe }};  // Usando as labels do contexto
    var barValues = {{ bar_values|safe }};  // Usando os valores do contexto

    // Função para dividir rótulos longos em várias linhas
    function splitLabel(label, length) {
        if (label.length > length) {
            return label.match(new RegExp(`.{1,${length}}`, 'g')); // Divide a cada 'length' caracteres
        }
        return [label]; // Retorna o rótulo como array para multi-linha
    }

    var multiLineLabels = barLabels.map(label => splitLabel(label, 15)); // Divide rótulos a cada 15 caracteres

    var myBarChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: multiLineLabels,
            datasets: [{
                label: 'Total de Servidores',
                data: barValues,
                backgroundColor: 'rgba(210, 0, 0, 1)',
                borderColor: 'rgba(210, 0, 0, 1)',
                borderWidth: 2,
                borderRadius: 4
            }]
        },
        options: {
            scales: {
                x: {
                    grid: {
                        display: false
                    },
                    ticks: {
                        font: {
                            size: 10 // Ajusta o tamanho da fonte
                        }
                    }
                },
                y: {
                    beginAtZero: true,
                    grid: {
                        display: false
                    }
                }
            },
            layout: {
                padding: {
                    bottom: 40 // Adiciona espaço para rótulos multi-linha
                }
            }
        }
    });
</script>












{% endblock %}