{% extends 'base.html' %}
{% load static %}
{% block titulo %}
Internos
{% endblock %}


{% block content %}


<!--tabela com internos-->

<div class="mb-12 flex px-4 xl:px-12 justify-start w-full pt-4">
    <div class="bg-white shadow-lg rounded-lg w-full">
        <div class="p-6 rounded-t-lg">
            <div>
               <div class="flex items-center justify-between pb-4 mb-4 border-b border-gray-200">
                    <div>
                        <h3 class="xl:text-base text-2xl font-normal text-gray-500 dark:text-gray-400 pb-2">Relatório</h3>
                        <span class="xl:text-2xl text-5xl font-bold leading-none text-gray-900 dark:text-white">Internos</span>
                    </div>
                   {% if 'Administrador' in user_groups or 'GerGesipe' in user_groups %}
                    <a href="{% url 'interno:relatorio_interno' %}" class="inline-flex items-center p-2 text-2xl xl:text-xl font-bold uppercase rounded-lg text-primary-700 hover:bg-gray-100 dark:text-primary-500 dark:hover:bg-gray-700">
                        Dados Completos
                        <svg class="w-4 h-4 ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                        </svg>
                    </a>
                   {% endif %}
               </div>
            </div>

                <form method="GET" onsubmit="return false;">
                    <div class="mt-4 px-0 flex flex-row justify-between w-full">
                        <div class="flex flex-row">
                            <!-- Campo CPF -->
                            <input
                                class="form-input w-full sm:w-auto sm:ml-4 p-1.5 rounded-md border-1 border-gray-600"
                                type="text"
                                name="cpf"
                                id="cpf"
                                value="{{ request.GET.cpf }}"
                                placeholder="CPF..."
                                hx-get="{% url 'interno:interno_list' %}"
                                hx-trigger="keyup delay:500ms"
                                hx-target="#content2"
                                hx-include="[name='cpf'], [name='nome_mae'], [name='query']"
                            />

                            <!-- Campo Nome da Mãe -->
                            <input
                                class="form-input w-full sm:w-auto sm:ml-4 p-1.5 rounded-md border-1 border-gray-600"
                                type="text"
                                name="nome_mae"
                                id="nome_mae"
                                value="{{ request.GET.nome_mae }}"
                                placeholder="Nome da Mãe..."
                                hx-get="{% url 'interno:interno_list' %}"
                                hx-trigger="keyup delay:500ms"
                                hx-target="#content2"
                                hx-include="[name='cpf'], [name='nome_mae'], [name='query']"
                            />

                            <!-- Campo Pesquisa Geral -->
                            <input
                                type="text"
                                name="query"
                                class="form-input w-full sm:w-auto sm:ml-4 p-1.5 rounded-md border-1 border-gray-600"
                                placeholder="Pesquisar..."
                                value="{{ request.GET.query }}"
                                hx-get="{% url 'interno:interno_list' %}"
                                hx-trigger="keyup delay:500ms"
                                hx-target="#content2"
                                hx-include="[name='cpf'], [name='nome_mae'], [name='query']"
                            />
                        </div>
                    </div>
                </form>


        </div>
        <div class="overflow-x-auto">
            <table class="min-w-full bg-white divide-y divide-gray-200">
                <thead class="bg-gray-100">
                    <tr>
                        <th class="px-6 py-3 text-left xl:text-base text-xl font-medium text-gray-500 uppercase tracking-wider">Prontuario</th>
                        <th class="px-6 py-3 text-left xl:text-base text-xl font-medium text-gray-500 uppercase tracking-wider">Nome</th>
                        <th class="px-6 py-3 text-left xl:text-base text-xl font-medium text-gray-500 uppercase tracking-wider">Unidade</th>
                        <th class="px-6 py-3 xl:text-base text-xl font-medium text-gray-500 uppercase tracking-wider">Nome da Mãe</th>
                        <th class="px-6 py-3 text-left xl:text-base text-xl font-medium text-gray-500 uppercase tracking-wider">Cpf</th>
                    </tr>
                </thead>
                <tbody id="content2" class="bg-white divide-y divide-gray-200">
                    {% include "partials/interno_partial.html" %}
                </tbody>
            </table>
        </div>

        <!-- Paginação -->
        <div class="p-6 bg-gray-100 rounded-b-lg">
            <nav aria-label="Page navigation">
                <ul class="inline-flex items-center -space-x-px">
                    {% if page_obj.has_previous %}
                    <li>
                        <a href="?page=1&query={{ query }}&dataInicial={{ dataInicial }}&dataFinal={{ dataFinal }}" class="px-3 py-2 ml-0 text-sm font-medium text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100">Primeira</a>
                    </li>
                    <li>
                        <a href="?page={{ page_obj.previous_page_number }}&query={{ query }}&dataInicial={{ dataInicial }}&dataFinal={{ dataFinal }}" class="px-3 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 hover:bg-gray-100">Anterior</a>
                    </li>
                    {% endif %}

                    {% for p in page_range %}
                    {% if p == page_obj.number %}
                    <li>
                        <span class="px-3 py-2 text-sm font-medium text-white bg-blue-500 border border-gray-300">{{ p }}</span>
                    </li>
                    {% else %}
                    <li>
                        <a href="?page={{ p }}&query={{ query }}&dataInicial={{ dataInicial }}&dataFinal={{ dataFinal }}" class="px-3 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 hover:bg-gray-100">{{ p }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                    <li>
                        <a href="?page={{ page_obj.next_page_number }}&query={{ query }}&dataInicial={{ dataInicial }}&dataFinal={{ dataFinal }}" class="px-3 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 hover:bg-gray-100">Próxima</a>
                    </li>
                    <li>
                        <a href="?page={{ page_obj.paginator.num_pages }}&query={{ query }}&dataInicial={{ dataInicial }}&dataFinal={{ dataFinal }}" class="px-3 py-2 text-sm font-medium text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100">Última</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>

</div>















<script>
    // Dados do gráfico de barra para Ajuda de Custo
    var ctx = document.getElementById('chart-bar-ajuda-custo').getContext('2d');
    var barLabels = {{ labels_mensais|safe }};  // Labels dos meses com ano
    var barValues = {{ values_mensais|safe }};  // Quantidade mensal de Ajuda de Custo

    var myBarChart = new Chart(ctx, {
        type: 'bar', // Tipo de gráfico: barra
        data: {
            labels: barLabels, // Nomes dos meses (Janeiro 2024, Fevereiro 2024, etc.)
            datasets: [{
                label: 'Total de Ajuda de Custo',
                data: barValues, // Valores mensais calculados no backend
                backgroundColor: 'rgba(210, 0, 0, 1)', // Cor de fundo das barras (vermelho)
                borderColor: 'rgba(210, 0, 0, 1)', // Cor da borda das barras (vermelho)
                borderWidth: 2, // Largura da borda das barras
                borderRadius: 4 // Arredondamento das bordas das barras
            }]
        },
        options: {
            scales: {
                x: {
                    grid: {
                        display: false // Oculta a grade no eixo X
                    }
                },
                y: {
                    beginAtZero: true, // Começa o eixo Y no zero
                    grid: {
                        display: false // Oculta a grade no eixo Y
                    }
                }
            }
        }
    });

    // Adicione um evento para atualizar o gráfico com base no filtro aplicado
    document.getElementById('filtro-form').addEventListener('submit', function(event) {
        event.preventDefault(); // Previne o envio do formulário
        var selectedYear = document.getElementById('ano-selecionado').value;
        var selectedMonth = document.getElementById('mes-selecionado').value;

        // Atualize os valores das labels e dados do gráfico
        // Assumindo que você faça uma requisição AJAX para buscar os novos dados
        fetch(`/api/get-bar-data?year=${selectedYear}&month=${selectedMonth}`)
            .then(response => response.json())
            .then(data => {
                myBarChart.data.labels = data.labels_mensais;
                myBarChart.data.datasets[0].data = data.values_mensais;
                myBarChart.update();
            });
    });
</script>




<!--grafico Pizza majorado x normal-->

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var ctx = document.getElementById('majorado-pizza').getContext('2d');
        var myPieChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: {{ pie_labels|safe }},  // Ex.: ['Ajuda Normal', 'Ajuda Majorada']
                datasets: [{
                    label: 'Distribuição de Ajuda de Custo',
                    data: {{ pie_values|safe }},  // Ex.: [50, 30] - dados dinâmicos
                    backgroundColor: [
                        'rgba(54, 162, 35, 1)',  // verde para Ajuda Normal
                        'rgba(255, 69, 58, 1)'   // Vermelho para Ajuda Majorada
                    ],
                    borderColor: [
                        'rgba(54, 162, 35, 1)',  // Verde
                        'rgba(255, 69, 58, 1)'   // Vermelho
                    ],
                    borderWidth: 2
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'bottom',
                        labels: {
                            font: {
                                size: 12
                            }
                        }
                    },
                    tooltip: {
                        callbacks: {
                            label: function(tooltipItem) {
                                return tooltipItem.label + ': ' + tooltipItem.raw;
                            }
                        }
                    },
                    datalabels: {
                        display: true,
                        color: '#ffffff',
                        font: {
                            weight: 'bold',
                            size: 14
                        },
                        formatter: (value) => {
                            return `${value}`;  // Exibe o valor numérico de cada segmento
                        }
                    }
                },
                cutout: '50%'  // Ajusta a espessura do gráfico tipo donut, caso esteja usando um gráfico de donut
            }
        });
    });
</script>


<script>
    document.addEventListener('DOMContentLoaded', function() {
    const dataInicialField = document.getElementById('dataInicial');
    const dataFinalField = document.getElementById('dataFinal');

    // Verificar se os campos já têm valores (vindos do Django)
    if (!dataInicialField.value) {
        const now = new Date();
        const firstDay = new Date(now.getFullYear(), now.getMonth(), 1);
        dataInicialField.value = firstDay.toISOString().split('T')[0];  // Define apenas se estiver vazio
    }

    if (!dataFinalField.value) {
        const now = new Date();
        const lastDay = new Date(now.getFullYear(), now.getMonth() + 1, 0);
        dataFinalField.value = lastDay.toISOString().split('T')[0];  // Define apenas se estiver vazio
    }
});

</script>




{% endblock %}