{% extends 'base.html' %}
{% load static %}
{% block titulo %}
upload internos
{% endblock %}


{% block content %}
<div class="flex flex-col justify-items-center items-center">
    <div class="text-2xl py-8">
        <h2>Importar Internos</h2>
    </div>
    <form method="post" action="{% url 'interno:upload_interno' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="flex flex-col justify-items-center items-center pt-8">
            <button class="btn btn-primary" type="submit">Enviar</button>
        </div>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}