{% extends 'base.html' %}
{% load static %}
{% block titulo %}
upload internos
{% endblock %}


{% block content %}
<div class="flex flex-col justify-items-center items-center">
    <h2>Importar Internos</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Enviar</button>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}