{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block titulo %}
Criar Conta
{% endblock %}


{% block content %}


    <header class="min-h-screen showcase bg-gray-100 border-gray-600 border-b-8 flex justify-center items-center bg-no-repeat">
        <div class="mb-28 md:mb-8 mt-4 bg-white rounded-3xl w-3/4 shadow-lg md:w-1/2 md:py-24 py-12 z-10 text-center flex flex-col items-center">
            <div class="flex justify-center items-center h-full w-full">
                <form method="post" class="md:w-full md:max-w-md px-4" >
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4 font-bold md:text-3xl">Crie uma Conta para continuar</legend>
                        {{ form|crispy }}
                    </fieldset>
                    <button class="bg-gray-900 py-1 my-2 px-3 w-full text-white md:text-lg rounded-md" type="submit">Fazer Login</button>
                </form>
            </div>
            <small class="mt-4">
                Já tem uma conta? <a href="{% url 'seappb:login' %}" class="text-blue-500">Clique aqui para fazer Login</a>
            </small>
        </div>
    </header>


{% endblock %}