{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block titulo %}
Criar Conta
{% endblock %}


{% block content %}
    <!-- Navbar -->
    <nav class="lg:hidden bg-black text-white p-4 fixed w-full top-0 left-0 z-10">
        <div class="container mx-auto flex justify-center items-center">
            <!-- Logo/Brand -->
            <div class="text-2xl font-bold">
                <a href="/"><img class="h-20 w-auto" src="{% static 'images/GOVPBBranco.png' %}" alt="Governo da Paraiba"></a>
            </div>
        </div>
    </nav>

    <header class="mt-28 lg:mt-0 showcase bg-gray-100 border-gray-600 border-b-8 flex justify-center items-center bg-no-repeat">
        <div class="my-8 bg-white rounded-3xl w-full shadow-lg lg:w-1/2 md:py-24 py-12 z-10 text-center flex flex-col items-center">
            <div class="flex justify-center items-center h-full w-full">
                <form method="post" class="md:w-full md:max-w-md px-4" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4 font-bold md:text-3xl">Crie uma Conta para continuar</legend>
                        {{ form|crispy }}
                    </fieldset>
                    <button class="bg-gray-900 py-1 my-2 px-3 w-full text-white md:text-lg rounded-md" type="submit">Criar Conta</button>
                </form>
            </div>
            <small class="mt-4">
                Já tem uma conta? <a href="{% url 'seappb:login' %}" class="text-blue-500">Clique aqui para fazer Login</a>
            </small>
        </div>
    </header>


{% endblock %}