{% extends 'base.html' %}
{% load static %}
{% block titulo %}
HomePage SeapPB
{% endblock %}


{% block content %}


<div class="flex justify-center items-center h-screen w-screen" id="background">
    <iframe title="POPULACAO, EXTRAS E LOTACAO COM LOGIN" class="pt-20  w-full h-full" src="https://app.powerbi.com/view?r=eyJrIjoiMzc0OTAwYTEtMmQwOC00OTE5LTk0YjMtMTAyMTI5MTMxNmU3IiwidCI6IjgzNzg5Mzk4LTU4MGYtNDkwOC1iNDk4LWFmNjhiNWM2ZDg4NSJ9&pageName=ReportSection958cbc24307a0601e00b" frameborder="0" allowFullScreen="true"></iframe>
</div>


{% endblock %}