{% extends 'base.html' %}
{% load static %}
{% block titulo %}
HomePage SeapPB
{% endblock %}


{% block content %}


<div class="flex justify-center items-center h-screen w-screen">
    <iframe title="Relatorio Completo" class="w-full h-full" src="https://app.powerbi.com/view?r=eyJrIjoiZmQ1MjRmMWMtNjljZS00YjVkLTgyZmEtNGI3M2M4NTFmZTMwIiwidCI6IjgzNzg5Mzk4LTU4MGYtNDkwOC1iNDk4LWFmNjhiNWM2ZDg4NSJ9&pageName=ReportSection958cbc24307a0601e00b" frameborder="0" allowFullScreen="true"></iframe>
</div>


{% endblock %}