{% extends 'base.html' %}
{% load static %}
{% block titulo %}
HomePage SeapPB
{% endblock %}


{% block content %}








    <header class="showcaseborder-gray-600 flex flex-col gap-8 px-8 pt-32 lg:pt-24 pb-8">

        <div class="grid grid-cols-2 lg:grid-cols-4 gap-4">

            <!-- Card 1 -->
            <div class="p-2">
                <div class="flex flex-col min-w-0 break-words bg-white shadow-xl rounded-2xl transform hover:scale-105 transition duration-300">
                    <div class="flex-auto p-4">
                        <div class="flex flex-row -mx-3">
                            <div class="flex-none w-2/3 max-w-full px-3">
                                <div>
                                    <p class="mb-0 font-sans font-semibold leading-normal uppercase text-sm">Policiais Penais</p>
                                    <h5 class="mb-2 pt-7 font-bold">{{ total_policial_penal }}</h5>
                                    <p class="mb-0 text-emerald-500">
                                        <span class="font-bold leading-normal text-sm"></span>
                                    </p>
                                </div>
                            </div>
                            <div class="px-3 text-right basis-1/3">
                                <div class="inline-block w-20 h-20 text-white relative rounded-full bg-gradient-to-tl from-blue-500 to-violet-500">
                                    <img src="{% static 'icons/guard-prison.png' %}" alt="add-grupo" class="absolute bottom-5 left-5 h-12">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

          <!-- ... -->
          <div>
            <!-- Card 2 -->
            <div class="p-2">
                <div class="flex flex-col min-w-0 break-words bg-white shadow-xl rounded-2xl transform hover:scale-105 transition duration-300">
                    <div class="flex-auto p-4">
                        <div class="flex flex-row -mx-3">
                            <div class="flex-none w-2/3 max-w-full px-3">
                                <div>
                                    <p class="mb-0 font-sans font-semibold leading-normal uppercase text-sm">Policiais Penais</p>
                                    <h5 class="mb-2 pt-7 font-bold">{{ total_policial_penal }}</h5>
                                    <p class="mb-0 text-emerald-500">
                                        <span class="font-bold leading-normal text-sm"></span>
                                    </p>
                                </div>
                            </div>
                            <div class="px-3 text-right basis-1/3">
                                <div class="inline-block w-20 h-20 text-white relative rounded-full bg-gradient-to-tl from-blue-500 to-violet-500">
                                    <img src="{% static 'icons/guard-prison.png' %}" alt="add-grupo" class="absolute bottom-5 left-5 h-12">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>

          <div>
            <!-- Card 3 -->
            <div class="p-2">
                <div class="flex flex-col min-w-0 break-words bg-white shadow-xl rounded-2xl transform hover:scale-105 transition duration-300">
                    <div class="flex-auto p-4">
                        <div class="flex flex-row -mx-3">
                            <div class="flex-none w-2/3 max-w-full px-3">
                                <div>
                                    <p class="mb-0 font-sans font-semibold leading-normal uppercase text-sm">Setores Ativos</p>
                                    <h5 class="mb-2 font-bold">1</h5>
                                    <p class="mb-0 text-emerald-500">
                                        <span class="font-bold leading-normal text-sm">+0%</span> a mais que o 2023
                                    </p>
                                </div>
                            </div>
                            <div class="px-3 text-right basis-1/3">
                                <div class="inline-block w-12 h-12 text-center rounded-full bg-gradient-to-tl from-blue-500 to-violet-500">
                                    <i class="fa fa-coins text-lg relative top-3.5 text-white"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>

          <div>
            <!-- Card 4 -->
            <div class="p-2">
                <div class="flex flex-col min-w-0 break-words bg-white shadow-xl rounded-2xl transform hover:scale-105 transition duration-300">
                    <div class="flex-auto p-4">
                        <div class="flex flex-row -mx-3">
                            <div class="flex-none w-2/3 max-w-full px-3">
                                <div>
                                    <p class="mb-0 font-sans font-semibold leading-normal uppercase text-sm">Acessos do Dia</p>
                                    <h5 class="mb-2 font-bold">1</h5>
                                    <p class="mb-0 text-emerald-500">
                                        <span class="font-bold leading-normal text-sm">+12%</span> a mais que ontem
                                    </p>
                                </div>
                            </div>
                            <div class="px-3 text-right basis-1/3">
                                <div class="inline-block w-12 h-12 text-center rounded-full bg-gradient-to-tl from-blue-500 to-violet-500">
                                    <i class="fa fa-coins text-lg relative top-3.5 text-white"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>

<!--        carrosel testes-->


    <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false">
      <div class="carousel-inner">
        <div class="carousel-item active">
            <a href="{% url 'servidor:recursos_humanos' %}"><img src="{% static 'images/rh.png' %}" class="d-block w-full h-96 " alt="..."></a>
        </div>
        <div class="carousel-item">
            <a href="{% url 'ajuda_custo:ajuda_custo' %}"><img src="{% static 'images/ajudacusto.png' %}" class="d-block w-full h-96 rounded-lg" alt="..."></a>
        </div>
        <div class="carousel-item">
            <a href="{% url 'gesipe:gesipe' %}"><img src="{% static 'images/gesipe.png' %}" class="d-block w-full h-96 rounded-lg" alt="..."></a>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>


    </header>


    <section>
        <div class="flex flex-col lg:grid grid-cols-1 lg:grid-cols-2 gap-4 mx-8 content-between">
          <div>
               <!-- Gráfico de barra -->
            <div class="bg-white border border-gray-200 rounded-lg shadow-xl mt-3 py-4 px-4  lg:h-[500px]">
                <div class="flex items-center justify-between pb-4 mb-4 border-b border-gray-200">
                    <div>
                        <h3 class="text-base font-normal text-gray-500 dark:text-gray-400">Tipo de Movimentacao</h3>
                        <span class="text-2xl font-bold leading-none text-gray-900 sm:text-3xl dark:text-white">Administrativo</span>
                    </div>
                    <a href="#" class="inline-flex items-center p-2 text-xs font-medium uppercase rounded-lg text-primary-700 sm:text-sm hover:bg-gray-100 dark:text-primary-500 dark:hover:bg-gray-700">
                        Dados Completos
                        <svg class="w-4 h-4 ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                        </svg>
                    </a>
                </div>
                <div>
                    <canvas id="chart-bar" width="100" height="50"></canvas>
                </div>
            </div>
          </div>
          <div class="lg:row-span-2">


              <!-- gráfico de pizza -->
                <div class="bg-white border border-gray-200 rounded-lg shadow-xl mt-3 px-4 py-4 mt-3 lg:h-[1023px]">
                    <div class="flex items-center justify-between pb-4 mb-4 border-b border-gray-200">
                        <div>
                            <h3 class="text-base font-normal text-gray-500 dark:text-gray-400">Tipo de Movimentacao</h3>
                            <span class="text-2xl font-bold leading-none text-gray-900 sm:text-3xl dark:text-white">Administrativo</span>
                        </div>
                        <a href="#" class="inline-flex items-center p-2 text-xs font-medium uppercase rounded-lg text-primary-700 sm:text-sm hover:bg-gray-100 dark:text-primary-500 dark:hover:bg-gray-700">
                            Dados Completos
                            <svg class="w-4 h-4 ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                            </svg>
                        </a>
                    </div>
                    <div>
                        <canvas id="administrativo-pizza" width="500" height="300"></canvas>
                    </div>
                </div>

          </div>
          <div class="">
<!--                grafico de linha-->
               <div class="bg-white border border-gray-200 rounded-lg shadow-xl px-4 py-4 lg:h-[500px]">
                    <div class="flex items-center justify-between pb-4 mb-4 border-b border-gray-200">
                        <div>
                            <h3 class="text-base font-normal text-gray-500 dark:text-gray-400">Tipo de Movimentacao</h3>
                            <span class="text-2xl font-bold leading-none text-gray-900 sm:text-3xl dark:text-white">Administrativo</span>
                        </div>
                        <a href="#" class="inline-flex items-center p-2 text-xs font-medium uppercase rounded-lg text-primary-700 sm:text-sm hover:bg-gray-100 dark:text-primary-500 dark:hover:bg-gray-700">
                            Dados Completos
                            <svg class="w-4 h-4 ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                            </svg>
                        </a>
                    </div>
                    <div>
                        <canvas id="myLineChart" width="200" height="100"></canvas>
                    </div>
                </div>
          </div>





          <div class="col-span-2">
              <!-- quarto item TABELA -->
            <div class="bg-white w-full border border-gray-200 rounded-lg shadow-sm mb-4">
                <div class="flex items-start justify-between pb-4 mb-4 border-b border-gray-200 py-4 px-4">
                    <div>
                        <h3 class="text-base font-normal text-gray-500 dark:text-gray-400">Tipo de Movimentacao</h3>
                        <span class="text-2xl font-bold leading-none text-gray-900 sm:text-3xl dark:text-white">Administrativo</span>
                    </div>
                    <a href="#" class="inline-flex items-center p-2 text-xs font-medium uppercase rounded-lg text-primary-700 sm:text-sm hover:bg-gray-100 dark:text-primary-500 dark:hover:bg-gray-700">
                        Dados Completos
                        <svg class="w-4 h-4 ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                        </svg>
                    </a>
                </div>
                <div>
                    <div class="flex-auto px-0 pt-0 pb-2">
                    <div class="p-0 overflow-x-auto">
                      <table class="items-center w-full mb-0 align-top border-gray-200 text-slate-500">
                        <thead class="align-bottom">
                          <tr>
                            <th class="px-6 py-3 font-bold text-left uppercase align-middle bg-transparent border-b border-gray-200 shadow-none text-lg border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70">Autor</th>
                            <th class="hidden lg:table-cell px-6 py-3 pl-2 font-bold text-left uppercase align-middle bg-transparent border-b border-gray-200 shadow-none text-lg border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70">Memorandos</th>
                            <th class="hidden lg:table-cell px-6 py-3 font-bold text-left uppercase align-middle bg-transparent border-b border-gray-200 shadow-none text-lg border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70">Despachos</th>
                            <th class="hidden lg:table-cell px-6 py-3 font-bold text-left uppercase align-middle bg-transparent border-b border-gray-200 shadow-none text-lg border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70">Oficios</th>
                            <th class="hidden lg:table-cell px-6 py-3 font-bold text-left uppercase align-middle bg-transparent border-b border-gray-200 shadow-none text-lg border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70">OS</th>
                            <th class="hidden lg:table-cell px-6 py-3 font-bold text-left uppercase align-middle bg-transparent border-b border-gray-200 shadow-none text-lg border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70">Portarias</th>
                            <th class="px-6 py-3 font-bold text-left uppercase align-middle bg-transparent border-b border-gray-200 shadow-none text-lg border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70">Total</th>

                          </tr>
                        </thead>
                        <tbody>

                          <tr>
                            {% for data in object_list %}
                            <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                              <div class="flex px-2 py-1">
                                <div>
                                    {% if data.usuario.foto_perfil %}
                                        <img src="{{ data.usuario.foto_perfil.url }}" class="inline-flex items-center justify-center mr-4 text-white transition-all duration-200 ease-in-out text-sm h-9 w-9 rounded-xl" alt="user1" />
                                    {% else %}
                                        <img src="{% static 'static/default.jpg' %}" class="inline-flex items-center justify-center mr-4 text-white transition-all duration-200 ease-in-out text-sm h-9 w-9 rounded-xl" alt="user1" />
                                    {% endif %}
                                </div>
                                <div class="flex flex-col justify-center">
                                  <h6 class="mb-0 leading-normal text-sm">{{ data.usuario.nome_completo }}</h6>
                                  <p class="mb-0 leading-tight text-xs text-slate-400">{{ data.usuario.email }}</p>
                                </div>
                              </div>
                            </td>

                            <td class="hidden lg:table-cell p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                              <span class="font-semibold leading-tight text-xs text-slate-400">{{ data.total_memorando }}</span>
                            </td>
                            <td class="hidden lg:table-cell p-2 leading-normal text-center align-middle bg-transparent border-b text-sm whitespace-nowrap shadow-transparent">
                              <span class="font-semibold leading-tight text-xs text-slate-400">{{ data.total_despacho }}</span>
                            </td>
                            <td class="hidden lg:table-cell p-2 text-center align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                              <span class="font-semibold leading-tight text-xs text-slate-400">{{ data.total_oficio }}</span>
                            </td>
                            <td class="hidden lg:table-cell p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                              <span class="font-semibold leading-tight text-xs text-slate-400">{{ data.total_os }}</span>
                            </td>
                            <td class="hidden lg:table-cell p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                              <span class="font-semibold leading-tight text-xs text-slate-400">{{ data.portarias }}</span>
                            </td>
                            <td class=" lg:table-cell p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                              <span class="font-semibold leading-tight text-xs text-slate-400">{{ data.total }}</span>
                            </td>
                          </tr>
                          {% endfor %}


                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
            </div>


          </div>

        </div>
    </section>

















<!--grafico de barra, depois transferir para arquivo individual-->

<script>
    // Dados do gráfico de barra
    var ctx = document.getElementById('chart-bar').getContext('2d');
    var barLabels = {{ labels_mensais|safe }};
    var barValues = {{ values_mensais|safe }};

    var myBarChart = new Chart(ctx, {
        type: 'bar', // Tipo de gráfico: barra
        data: {
            labels: barLabels,
            datasets: [{
                label: 'Total de Movimentações',
                data: barValues,
                backgroundColor: 'rgba(210, 0, 0, 1)', // Cor de fundo das barras
                borderColor: 'rgba(210, 0, 0, 1)', // Cor da borda das barras
                borderWidth: 2, // Largura da borda das barras
                borderRadius: 4 // Arredondamento das bordas das barras
            }]
        },
        options: {
            scales: {
                x: {
                    grid: {
                        display: false // Oculta a grade no eixo X
                    }
                },
                y: {
                    beginAtZero: true, // Começa o eixo Y no zero
                    grid: {
                        display: false // Oculta a grade no eixo Y
                    }
                }
            }
        }
    });
</script>



<!--grafico pizza depois criar js proprios-->


<script>
    document.addEventListener('DOMContentLoaded', function () {
        var ctx = document.getElementById('administrativo-pizza').getContext('2d');
        var myPieChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: {{ pie_labels|safe }},
                datasets: [{
                    label: 'Total por Categoria',
                    data: {{ pie_values|safe }},
                    backgroundColor: [
                        'rgba(22, 189, 202, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)'
                    ],
                    borderColor: [
                        'rgba(22, 189, 202, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)'
                    ],
                    borderWidth: 2
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'bottom',
                        labels: {
                            font: {
                                size: 12
                            }
                        }
                    },
                    tooltip: {
                        callbacks: {
                            label: function(tooltipItem) {
                                return tooltipItem.label + ': ' + tooltipItem.raw;
                            }
                        }
                    },
                    datalabels: {
                        display: true,
                        color: '#ffffff',
                        font: {
                            weight: 'bold',
                            size: 14
                        },
                        formatter: (value, ctx) => {
                            let label = ctx.chart.data.labels[ctx.dataIndex];
                            return `${label}: ${value}`;
                        }
                    }
                },
                cutout: '50%' // Ajusta a espessura do gráfico tipo donut
            }
        });
    });
</script>



<!-- Incluir os dados diretamente no script -->
<script>
    // Dados do gráfico de linhas
    var ctx = document.getElementById('myLineChart').getContext('2d');
    var lineLabels = {{ line_labels|safe }};
    var lineValues = {{ line_values|safe }};

    var myLineChart = new Chart(ctx, {
        type: 'line', // Altere para 'line' se estiver usando um gráfico de linha
        data: {
            labels: lineLabels,
            datasets: [{
                label: 'Total Geral de Inserções',
                data: lineValues,
                backgroundColor: 'rgba(210, 0, 0, 0.55)', // Cor de fundo da área do gráfico
                borderColor: 'rgba(210, 0, 0, 1)', // Cor da linha do gráfico
                borderWidth: 2, // Largura da linha
                fill: true, // Preenche a área sob a linha
                pointRadius: 0, // Remove os pontos
                borderCapStyle: 'round', // Arredonda as extremidades da linha
                borderJoinStyle: 'round', // Arredonda as junções da linha
                tension: 0.4 // Adiciona uma suavização à linha
            }]
        },
        options: {
            scales: {
                x: {
                    grid: {
                        display: false // Oculta a grade no eixo X
                    }
                },
                y: {
                    beginAtZero: true, // Começa o eixo Y no zero
                    grid: {
                        display: false // Oculta a grade no eixo Y
                    }
                }
            }
        }
    });
</script>






{% endblock %}