{% extends 'base.html' %}
{% load static %}

{% load custom_filters %}
{% block titulo %}
Fazer Login
{% endblock %}


{% block content %}

<!-- Navbar -->
    <nav class="lg:hidden bg-black text-white p-4 fixed w-full top-0 left-0 z-10">
        <div class="container mx-auto flex justify-center items-center">
            <!-- Logo/Brand -->
            <div class="text-2xl font-bold">
                <a href="/"><img class="h-20 w-auto" src="{% static 'images/GOVPBBranco.png' %}" alt="Governo da Paraiba"></a>
            </div>
        </div>
    </nav>

<div class="flex justify-center mx-16 mt-36 lg:mt-0 h-screen">
  <div class="flex flex-col lg:flex-row gap-4 lg:mx-40 lg:mt-12 lg:mb-6 bg-white rounded-3xl shadow-lg p-2">
      <div class="lg:w-3/5 w-full flex flex-col justify-center px-8 lg:border lg:border-2 rounded-2xl py-4">
        <form class="px-32" method="post">
                {% csrf_token %}
                <fieldset class="mb-8 mt-16">
                    <legend class="border-bottom text-center mb-4 font-bold text-5xl lg:text-4xl mb-5">Fazer Login</legend>

                    <!-- Renderizar o campo username com classes personalizadas -->
                    <div class="mb-12">
                        <label class="text-4xl lg:text-lg pb-2 form-label font-semibold mb-1">Nome de Usuário</label>
                        {{ form.username|add_class:"form-control border-2 border-gray-800 form-control-lg text-4xl lg:text-lg" }}
                    </div>

                    <!-- Renderizar o campo password1 com classes personalizadas -->
                    <div class="mb-12">
                        <label class="text-4xl lg:text-lg form-label pb-2 text-4xl lg:text-lg font-semibold mb-1">Senha</label>
                        {{ form.password|add_class:"form-control border-2 border-gray-800 form-control-lg text-4xl lg:text-lg" }}
                    </div>



                </fieldset>
                <div class="">
                    <button class="py-4 bg-gray-900 h-full mb-2 text-white text-5xl w-full lg:text-lg rounded-md" type="submit">Fazer Login</button>
                </div>
            </form>
            <small class="mx-20 text-3xl text-center lg:text-base lg:pb-4">
                <p>Não tem uma conta ainda? </p>
                <a href="{% url 'seappb:criarconta' %}"><p>Clique aqui para criar uma conta</p></a>
            </small>
      </div>
      <div class="flex justify-center items-center w-full lg:w-2/5">
          <img class="w-3/5" src="{% static 'images/pp.svg' %}" alt="">
      </div>
  </div>
</div>


{% endblock %}