{% extends 'base.html' %}
{% load static %}

{% load custom_filters %}
{% block titulo %}
Fazer Login
{% endblock %}


{% block content %}

<!-- Navbar -->
    <nav class="lg:hidden bg-black text-white p-4 fixed w-full top-0 left-0 z-10">
        <div class="container mx-auto flex justify-center items-center">
            <!-- Logo/Brand -->
            <div class="text-2xl font-bold">
                <a href="/"><img class="h-20 w-auto" src="{% static 'images/GOVPBBranco.png' %}" alt="Governo da Paraiba"></a>
            </div>
        </div>
    </nav>

<header class="mt-36 lg:mt-2 lg:mx-40 h-[1200px] lg:h-1/2 lg:w-4/5 border-gray-600 flex justify-center items-center bg-no-repeat">
    <div class="flex flex-col lg:w-3/5 py-12 lg:py-2 min-w-full min-h-full h-1/2 lg:flex-row mb-12 mt-4 bg-white rounded-3xl shadow-lg z-10 text-center items-center">
        <!-- Formulário -->
        <div class="lg:w-1/2 w-5/6 px-20 lg:px-36 py-2 h-full mb-26">
            <form method="post">
                {% csrf_token %}
                <fieldset class="mb-12 mt-20">
                    <legend class="border-bottom mb-4 font-bold text-5xl lg:text-4xl mb-5">Fazer Login</legend>

                    <!-- Renderizar o campo username com classes personalizadas -->
                    <div class="mb-12">
                        <label class="text-4xl lg:text-lg pb-2 form-label font-semibold mb-1">Nome de Usuário</label>
                        {{ form.username|add_class:"form-control border-2 border-gray-800 form-control-lg text-4xl lg:text-lg" }}
                    </div>

                    <!-- Renderizar o campo password1 com classes personalizadas -->
                    <div class="mb-12">
                        <label class="text-4xl lg:text-lg form-label pb-2 text-4xl lg:text-lg font-semibold mb-1">Senha</label>
                        {{ form.password|add_class:"form-control border-2 border-gray-800 form-control-lg text-4xl lg:text-lg" }}
                    </div>



                </fieldset>
                <button class="bg-gray-900 py-3 mb-2 lg:py-2 w-full text-white text-3xl lg:text-lg rounded-md" type="submit">Fazer Login</button>
            </form>
            <small class="text-3xl lg:text-base">
                Não tem uma conta ainda? <p><a href="{% url 'seappb:criarconta' %}">Clique aqui para criar uma conta</a></p>
            </small>
        </div>
        <!-- Imagem -->
        <div class="lg:w-1/2 w-2/5 lg:-order-1 flex justify-center items-center px-24 py-28">
            <img class="" src="{% static 'images/pp.svg' %}" alt="">
        </div>
    </div>
</header>


{% endblock %}