{%load static%}


    <footer class="px-5 py-10 ">
        <ul class="flex justify-between items-center font-semibold">

            <li><img src="{% static 'images/GovPBT.png' %}" alt="Logo-PB" class="w-24 h-auto"></li>
            <li><img src="{% static 'images/seap-pb.png' %}" alt="Logo-PB" class="w-14 h-auto"></li>
            <li><img src="{% static 'images/pp.svg' %}" alt="Logo-PB" class="w-20 h-auto"></li>
        </ul>
        <div class="flex justify-center pt-4">
            <p class="text-sm text-black">Gesipe &reg;2024</p>
        </div>
    </footer>