{%load static%}

<nav class="bg-gray-800 fixed w-100 z-50">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button-->
        <button type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false" id="mobile-menu-button">
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>
          <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" id="icon-open">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" id="icon-close">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex flex-shrink-0 items-center">
          <a href="/"><img class="h-8 w-auto" src="{% static 'images/GOVPBBranco.png' %}" alt="Governo da Paraiba"></a>
        </div>

        <div class="hidden sm:ml-6 sm:block">
          {% if user.is_authenticated %}
          <div class="flex space-x-4">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a href="/" class="rounded-md px-3 py-2 text-lg font-medium {% if request.path == '/' %}bg-gray-900 text-white{% else %}text-gray-300 hover:bg-gray-700 hover:text-white{% endif %}" aria-current="page">Inicio</a>
             <!-- Página Gesipe -->
            {% url 'gesipe:gesipe' as gesipe_url %}
            <a href="{{ gesipe_url }}" class="rounded-md px-3 py-2 text-lg font-medium {% if request.path == gesipe_url %}bg-gray-900 text-white{% else %}text-gray-300 hover:bg-gray-700 hover:text-white{% endif %}">Gesipe</a>
            <a href="#" class="rounded-md px-3 py-2 text-lg font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Geati</a>
            <a href="#" class="rounded-md px-3 py-2 text-lg font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Recursos Humanos</a>
          </div>

        </div>
      </div>
      <div class="md:flex md:items-center md:justify-center hidden">-->
        <form method="get" action="{% url 'seappb:pesquisarsite'%}">
          <input type="text" class="py-1 px-2 rounded-md text-black" placeholder="Pesquisar..." name="query" value="{{ request.GET.query }}">
          <input type="submit" value="query">
        </form>
      </div>
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <button type="button" class="relative rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
          <span class="absolute -inset-1.5"></span>
          <span class="sr-only">View notifications</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
          </svg>
        </button>

        <!-- Profile dropdown -->
        <div class="relative ml-3">
          <div>
            <button type="button" class="relative flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
              <span class="absolute -inset-1.5"></span>
              <span class="sr-only">Open user menu</span>
              <img class="h-8 w-8 rounded-full" src="{% static 'images/default.jpg' %}" alt="">
            </button>
          </div>

          <!--
            Dropdown menu, show/hide based on menu state.

            Entering: "transition ease-out duration-100"
              From: "transform opacity-0 scale-95"
              To: "transform opacity-100 scale-100"
            Leaving: "transition ease-in duration-75"
              From: "transform opacity-100 scale-100"
              To: "transform opacity-0 scale-95"
          -->
          <div class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none hidden" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1" id="user-menu">
            <!-- Active: "bg-gray-100", Not Active: "" -->
            <a href="{% url 'seappb:editarperfil' user.pk %}" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-0">Seu Perfil</a>
            <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-1">Configurações</a>
             <!-- Formulário de logout -->
            <form id="logout-form" action="{% url 'seappb:logout' %}" method="POST" style="display: none;">
                {% csrf_token %}
            </form>
            <a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-2">Sair</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="sm:hidden hidden" id="mobile-menu">
    <div class="space-y-1 px-2 pb-3 pt-2">
      <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
      <a href="#" class="block rounded-md bg-gray-900 px-3 py-2 text-base font-medium text-white" aria-current="page">Dashboard</a>

      <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Team</a>
      <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Projects</a>
      <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Calendar</a>
      <div class="flex md:items-center md:justify-center">-->
        <form class="px-1">
          <input type="text" class="py-1 px-2 rounded-md text-black" placeholder="Pesquisar...">
        </form>
      </div>
    </div>
  </div>
  {% endif %}

</nav>



















<!--<nav class="p-3 bg-black shadow text-white md:flex md:items-center md:justify-between">-->
<!--  <div class="flex justify-between items center">-->
<!--    <span class="text-3xl font-bold cursor-pointer">-->
<!--&lt;!&ndash;      <img class="h-20 inline" src="{% static 'images/brasao_paraiba.svg' %}" alt="">&ndash;&gt;-->
<!--	  SEAP-PB-->
<!--	</span>-->

<!--    <span class="white-text text-3xl cursor-pointer mx-2 md:hidden block" >-->
<!--      <ion-icon name="menu" onclick="Menu(this"></ion-icon>-->

<!--    </span>-->
<!--  </div>-->

<!--  <ul class="md:flex md:items-center z-[-1] md:z-auto md:static absolute bg-black w-full left-0 md:w-auto md:py-0 py-4 md:pl-0 pl-7 md:opacity-100 opacity-0 top-[-400px] transition-all ease-in-duration-500">-->
<!--    <li class="mx-4 my-6 md:my-0">-->
<!--      <a href="#" class="text-xl hover:text-gray-500 duration-500">HOME</a>-->
<!--    </li>-->
<!--    <li class="mx-4 my-6 md:my-0">-->
<!--      <a href="#" class="text-xl hover:text-gray-500 duration-500">Administrativo</a>-->
<!--    </li>-->
<!--    <li class="mx-4 my-6 md:my-0">-->
<!--      <a href="#" class="text-xl hover:text-gray-500 duration-500">Smp</a>-->
<!--    </li>-->
<!--    <li class="mx-4 my-6 md:my-0">-->
<!--      <a href="#" class="text-xl hover:text-gray-500 duration-500">Copen</a>-->
<!--    </li>-->

<!--    <button class="bg-gray-400 text-white font-bold duration-500 px-6 py-2 mx-4 hover:bg-gray-500">-->
<!--      Iniciar-->
<!--    </button>-->
<!--  </ul>-->
<!--</nav>-->



<!--<script>-->
<!--    function Menu(e){-->
<!--      let list = document.querySelector('ul');-->
<!--      e.name === 'menu' ? (e.name = "close",list.classList.add('top-[80px]') , list.classList.add('opacity-100')) :( e.name = "menu" ,list.classList.remove('top-[80px]'),list.classList.remove('opacity-100'))-->
<!--    }-->
<!--  </script>-->



<!--<nav class="w-full flex justify-between items-center py-3 px-4 fixed z-50 flex-wrap bg-black text-white">-->
<!--  <div class="w-6/12 flex flex-nowrap">-->
<!--    <span class="text-3xl font-bold">-->
<!--      <a href="#">-->
<!--        SEAP-PB-->
<!--      </a>-->
<!--    </span>-->

<!--  </div>-->
<!--  <div class="w-6/12 flex flex-nowrap justify-end">-->
<!--    <div class="mr-2">-->
<!--      <form>-->
<!--        <input type="text" class="py-1 px-2 rounded-md text-black" placeholder="Pesquisar...">-->
<!--      </form>-->
<!--    </div>-->
<!--    <div class="mr-2">-->
<!--      <a>-->
<!--        <button class="bg-red-600 text-white py-1 px-3 rounded-md">-->
<!--          Login-->
<!--        </button>-->
<!--      </a>-->
<!--    </div>-->
<!--    <div class="mr-2">-->
<!--      <a>-->
<!--        <button class="bg-red-600 text-white py-1 px-3 rounded-md">-->
<!--          Editar Perfil-->
<!--        </button>-->
<!--      </a>-->
<!--    </div>-->

<!--  </div>-->

<!--</nav>-->