<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerando PDF...</title>
    <script>
        function checkPDFStatus() {
            var taskId = "{{ task_id }}";
            fetch(`/servidor/pdf-status/?task_id=` + taskId)
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'ready') {
                        // Abre uma nova aba com o link para o PDF
                        window.open(data.pdf_url, '_blank');
                        // Redireciona o usuário para uma página de confirmação ou fecha a aba atual
                        window.location.href = '/servidor/relatorio_rh';
                    } else {
                        // Tenta novamente após 3 segundos
                        setTimeout(checkPDFStatus, 3000);
                    }
                });
        }

        // Inicia a verificação quando a página é carregada
        window.onload = checkPDFStatus;
    </script>
</head>
<body>
    <h1>O PDF está sendo gerado...</h1>
    <p>Por favor, aguarde um momento.</p>
</body>
</html>
