<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerando PDF...</title>
    <script>
        function checkTaskStatus() {
    const taskId = "{{ task_id }}";
    fetch(`/servidor/check-task/?task_id=${taskId}`)
        .then(response => response.json())
        .then(data => {
            if (data.status === 'SUCCESS') {
                window.location.href = data.url;  // Redireciona para a URL do PDF
            } else if (data.status === 'FAILURE') {
                document.getElementById('status').innerText = "Erro ao gerar o PDF.";
            } else {
                setTimeout(checkTaskStatus, 5000);  // Checar novamente após 5 segundos
            }
        });
}

        // Inicia a verificação quando a página é carregada
        window.onload = checkPDFStatus;
    </script>
</head>
<body>
    <h1>O PDF está sendo gerado...</h1>
    <p>Por favor, aguarde um momento.</p>
</body>
</html>
