{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block titulo %}
Gesipe Administrativo
{% endblock %}

{% block content %}
<div class="xl:pt-16 pt-36 mx-0 xl:mx-10 flex">
    <div class="flex flex-col bg-white w-full rounded-3xl shadow-lg mb-4 mx-10 px-8 pt-8">

        <form id="mainForm" class="flex flex-col" method="POST">
            {% csrf_token %}
            <div class="flex flex-row justify-center gap-x-8">
                 <div class="pl-2 pb-3">
                    <label class="form-label xl:text-base text-2xl font-semibold">
                        {{ form.mes.label }}
                    </label>
                        {{ form.mes }}
                    {% if form.mes.errors %}
                        <ul class="text-danger">
                            {% for error in form.mes.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                 </div>
                <div class="pl-2 pb-3">
                    <label class="form-label xl:text-base text-2xl font-semibold">
                        {{ form.ano.label }}
                    </label>
                        {{ form.ano }}
                    {% if form.ano.errors %}
                        <ul class="text-danger">
                            {% for error in form.ano.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                 </div>


            </div>
            <div class="flex flex-row justify-evenly gap-x-8 pb-16">

<!--                menu unidade-->
                <div class="pl-2 pb-3 ">
                    <label class="form-label xl:text-base text-2xl font-semibold">
                        {{ form.unidade.label }}
                    </label>
                        {{ form.unidade }}
                    {% if form.unidade.errors %}
                        <ul class="text-danger">
                            {% for error in form.unidade.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                 </div>

            </div>
            <div class="flex flex-row justify-evenly p-3 gap-x-8">
                <!-- menu matrícula -->
                <div class="pl-2 pb-3">
                    <label class="form-label xl:text-base text-2xl font-semibold">
                        {{ form.matricula.label }}
                    </label>
                        {{ form.matricula }}
                    {% if form.matricula.errors %}
                        <ul class="text-danger">
                            {% for error in form.matricula.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <!-- menu nome -->
                <div class="pb-3 w-96">
                    <label class="form-label xl:text-base text-2xl font-semibold">Nome:</label>
                    <input id="nome" type="text" class="form-control form-control-lg xl:text-base text-2xl" placeholder="Nome Servidor..." disabled>
                </div>
                <!-- menu cargo -->
                <div class="pb-3 xl:block hidden">
                    <label class="form-label xl:text-base font-semibold">Cargo:</label>
                    <input id="cargo" type="text" class="form-control form-control-lg xl:text-base text-2xl" placeholder="Cargo..." disabled>
                </div>

            </div>
            <div class="flex flex-row justify-evenly p-3 gap-x-8">
                <!-- menu Dia 12 horas -->
                <div class="pl-2 pb-3">
                    <label class="form-label xl:text-base text-2xl font-semibold">
                        {{ form.dias_12h.label }}
                    </label>
                        {{ form.dias_12h }}
                    <small>Separar por vírgulas</small>
                    {% if form.dias_12h.errors %}
                        <ul class="text-danger">
                            {% for error in form.dias_12h.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <!-- menu Dia 24 horas -->
                <div class="pl-2 pb-3">
                    <label class="form-label xl:text-base text-2xl font-semibold">
                        {{ form.dias_24h.label }}
                    </label>
                        {{ form.dias_24h }}
                    <small>Separar por vírgulas</small>
                    {% if form.dias_24h.errors %}
                        <ul class="text-danger">
                            {% for error in form.dias_24h.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

            </div>

            <div class="col-md-12 col-12 text-center mt-4 mb-4">
                <button type="button" class="btn btn-success btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal">Verificar Datas</button>
            </div>
        </form>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 fw-bold" id="exampleModalLabel">Confirmar Registro</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body fw-bolder">
                <div class="flex flex-col items-center justify-evenly items-end gap-x-8">
                    <div class="flex flex-row space-x-4">
                        <div class="pb-5">
                            <label class="Form-label pb-1">Matrícula:</label>
                            <input id="modal-matricula" type="text" class="form-control form-control-lg" disabled>
                        </div>
                        <div class="pb-5">
                            <label class="Form-label pb-1">Nome:</label>
                            <input id="modal-nome" type="text" class="form-control form-control-lg" disabled>
                        </div>
                    </div>
                    <div class="pb-4">
                        <h3>Carga Horária:</h3>
                    </div>

                    <div class="flex flex-row space-x-4">
                        <div class="pb-5">
                            <label class="Form-label pb-1">Total de Datas 12 Horas:</label>
                            <input id="modal-total-dias-12h" type="text" class="form-control form-control-lg" disabled>
                        </div>
                        <div class="pb-5">
                            <label class="Form-label pb-1">Total de Datas 24 Horas:</label>
                            <input id="modal-total-dias-24h" type="text" class="form-control form-control-lg" disabled>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button id="modal-confirm-submit" type="button" class="btn btn-success">Sim</button>
            </div>
        </div>
    </div>
</div>

<!--focar na caixar de matricula ao carregar-->

<script>
    // Função para focar no input ao carregar a página
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('matricula').focus();
    });
</script>


<!--script para puxar as informacoes da matricula com a requisicao ajax-->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const matriculaInput = document.getElementById('matricula');
        const nomeInput = document.getElementById('nome');
        const cargoInput = document.getElementById('cargo');

        matriculaInput.addEventListener('blur', function() {
            fetch(`/ajuda_custo/buscar-nome-servidor/?matricula=${matriculaInput.value}`)
                .then(response => response.json())
                .then(data => {
                    if (data.nome && data.cargo) {
                        nomeInput.value = data.nome;
                        cargoInput.value = data.cargo;
                    } else if (data.error) {
                        nomeInput.value = ''; // Clear the field if not found or error
                        cargoInput.value = ''; // Clear the field if not found or error
                        alert(data.error);
                    }
                })
                .catch(error => console.error('Error:', error));
        });

        // Optional: you can also trigger the search on Enter key
        matriculaInput.addEventListener('keydown', function(event) {
            if (event.key === 'Enter') {
                matriculaInput.blur();
            }
        });
    });
</script>


<!-- JavaScript para manipular o modal -->
<script>
document.addEventListener('DOMContentLoaded', function() {
    const mainForm = document.getElementById('mainForm');
    const modalMatricula = document.getElementById('modal-matricula');
    const modalNome = document.getElementById('modal-nome');
    const modalTotalDias12h = document.getElementById('modal-total-dias-12h');
    const modalTotalDias24h = document.getElementById('modal-total-dias-24h');
    const modalConfirmSubmit = document.getElementById('modal-confirm-submit');

    // Função para calcular o número de datas com base em vírgulas
    function calcularTotalDias(dias) {
        if (!dias) return 0; // Caso o campo esteja vazio
        return dias.split(',').map(d => d.trim()).filter(d => d !== '').length;
    }

    // Preencher o modal com os dados do formulário
    document.querySelector('[data-bs-target="#exampleModal"]').addEventListener('click', function() {
        const dias12h = document.getElementById('dias_12h').value;
        const dias24h = document.getElementById('dias_24h').value;

        modalMatricula.value = document.getElementById('matricula').value;
        modalNome.value = document.getElementById('nome').value;

        // Calculando e exibindo o total de datas
        modalTotalDias12h.value = calcularTotalDias(dias12h);
        modalTotalDias24h.value = calcularTotalDias(dias24h);
    });

    // Enviar o formulário quando o botão "Sim" for clicado
    modalConfirmSubmit.addEventListener('click', function() {
        mainForm.submit();
    });
});
</script>


<!--script para salvar mes ano e unidade-->


<script>
    document.addEventListener('DOMContentLoaded', function () {

    // Preenche os campos com os valores salvos no localStorage (se existirem)
    const ultimoMes = localStorage.getItem('ultimoMes');
    const ultimoAno = localStorage.getItem('ultimoAno');
    const ultimaUnidade = localStorage.getItem('ultimaUnidade');

    if (ultimoMes) {
        document.getElementById('mes').value = ultimoMes;
    }
    if (ultimoAno) {
        document.getElementById('ano').value = ultimoAno;
    }
    if (ultimaUnidade) {
        document.getElementById('unidade').value = ultimaUnidade;
    }

    // Adiciona evento para salvar os valores ao abrir o modal
    const modalButton = document.querySelector('[data-bs-target="#exampleModal"]');
    if (modalButton) {
        modalButton.addEventListener('click', function () {
            // Salva as informações no localStorage ao abrir o modal
            localStorage.setItem('ultimoMes', document.getElementById('mes').value);
            localStorage.setItem('ultimoAno', document.getElementById('ano').value);
            localStorage.setItem('ultimaUnidade', document.getElementById('unidade').value);
        });
    }
});


</script>

{% endblock %}
