{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block titulo %}
Gesipe Administrativo
{% endblock %}

{% block content %}
<div class="xl:pt-16 pt-32 flex justify-center" >
    <div class="flex flex-col bg-white w-full rounded-3xl shadow-lg mb-4 mx-4 xl:mx-12 px-8">
        <h1 class="text-center py-8 font-bold text-4xl">Preencha o Mês e Ano</h1>
        <form class="flex flex-col justify-center" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="flex flex-row justify-center xl:py-4 gap-x-8 pt-8 pb-12">
                <!-- Menu Mês -->
                <div class="">
                    <label class="form-label xl:text-base text-3xl font-semibold">
                        {{ form.mes.label }}
                    </label>
                        {{ form.mes }}
                    {% if form.mes.errors %}
                        <ul class="text-danger">
                            {% for error in form.mes.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                <!-- Menu Ano -->
                <div>
                    <label class="form-label xl:text-base text-3xl font-semibold">
                        {{ form.ano.label }}
                    </label>
                        {{ form.ano }}
                    {% if form.ano.errors %}
                        <ul class="text-danger">
                            {% for error in form.ano.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>

            <!-- Formulário com as datas -->
            <div class="flex flex-col border border-2 border-secondary mb-4 px-0">
                <h1 class="text-center pb-3 pt-4 font-bold text-3xl">Adicionar Datas</h1>
                <div id="formContainer">
                    <div class="flex flex-row justify-evenly border-b-2 items-end gap-x-8 form-row" id="formRow_1">
                        <!-- menu Dia -->
                        <div class="pl-2 pb-3">
                            <label class="form-label xl:text-base text-2xl font-semibold">
                                {{ form.dia.label }}
                            </label>
                                {{ form.dia }}
                            {% if form.dia.errors %}
                                <ul class="text-danger">
                                    {% for error in form.dia.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                        <!-- menu Unidade -->
                        <div class="pb-3">
                            <label class="form-label xl:text-base text-2xl font-semibold">
                                {{ form.unidade.label }}
                            </label>
                                {{ form.unidade }}
                            {% if form.unidade.errors %}
                                <ul class="text-danger">
                                    {% for error in form.unidade.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                        <!-- menu Carga Horária -->
                        <div class="pb-3">
                            <label class="form-label xl:text-base text-2xl font-semibold">
                                {{ form.carga_horaria.label }}
                            </label>
                                {{ form.carga_horaria }}
                            {% if form.carga_horaria.errors %}
                                <ul class="text-danger">
                                    {% for error in form.carga_horaria.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                        <div class="pb-3 pr-2">
                            <button type="button" class="btn btn-success add-date-btn w-14 h-12"><ion-icon name="add-circle-outline"></ion-icon></button>
                            <button type="button" class="btn btn-danger remove-date-btn w-14 h-12" disabled><ion-icon name="trash"></ion-icon></button>
                        </div>
                    </div>
                </div>

                <!-- Adicionando o campo de upload de arquivo -->
                <div class="mt-8 flex flex-col justify-center items-center">
                    <label class="flex justify-center form-label xl:text-base text-2xl font-semibold">
                        {{ form.folha_assinada.label }}
                    </label>
                    <div class="w-72">
                        {{ form.folha_assinada }}
                    </div>
                    {% if form.folha_assinada.errors %}
                    <ul class="text-danger">
                        {% for error in form.folha_assinada.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>

                <div class="text-center xl:my-4 my-8">
                    <button type="submit" class="btn btn-primary xl:text-base text-3xl">Confirmar Datas</button>
                </div>
            </div>

        </form>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
    let formCounter = 1;
    const maxForms = 16;

    // Usando event delegation para capturar os cliques nos botões "Adicionar" e "Remover"
    document.getElementById('formContainer').addEventListener('click', function (e) {
        if (e.target && e.target.closest('.add-date-btn')) {
            if (formCounter >= maxForms) {
                return;
            }
            formCounter++;

            const firstRow = document.querySelector('.form-row');
            const newFormRow = firstRow.cloneNode(true);

            // Atualiza os campos clonados com novos IDs e names
            newFormRow.id = `formRow_${formCounter}`;
            newFormRow.querySelectorAll('input').forEach(function (input, index) {
                const name = input.name.split('_')[0]; // Extrai o nome base (ex: 'dia', 'unidade')
                input.name = `${name}_${formCounter}`;
                input.id = `${name}_${formCounter}`;
                input.value = ''; // Limpa o valor dos novos campos clonados
            });

            document.getElementById('formContainer').appendChild(newFormRow);

            if (formCounter >= maxForms) {
                document.querySelector('.add-date-btn').setAttribute('disabled', 'disabled');
            }

            // Ativa os botões de remoção para todos os novos conjuntos de campos
            document.querySelectorAll('.remove-date-btn').forEach(btn => btn.removeAttribute('disabled'));
        }

        // Evento para remover a linha do formulário
        if (e.target && e.target.closest('.remove-date-btn')) {
            e.target.closest('.form-row').remove();
            formCounter--;

            if (formCounter < maxForms) {
                document.querySelector('.add-date-btn').removeAttribute('disabled');
            }

            // Desativa o botão de remoção se restar apenas um conjunto de campos
            if (formCounter === 1) {
                document.querySelector('.remove-date-btn').setAttribute('disabled', 'disabled');
            }
        }
    });
});


</script>


{% endblock %}
