{% extends 'base.html' %}
{% load static %}
{% block titulo %}
Ajuda de Custo
{% endblock %}


{% block content %}

<!--tela administrador-->
{% if 'Administrador' in user_groups or 'GerGesipe' in user_groups %}

<div class="flex px-4 flex-col xl:pt-16 pt-36">
    <div class="mb-0">
      <form method="GET" class="flex space-x-4 items-center">
        <!-- Campo para selecionar o mês -->
        <div class="flex flex-col w-56 xl:w-auto mr-4">
          <label for="mes" class="xl:text-base text-xl font-semibold text-gray-700">Selecione o Mês</label>
          <select id="mes" name="mes" class="xl:text-base text-xl mt-1 block w-full px-3 py-2 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
            {% for numero, nome in meses.items %}
              <option class="" value="{{ numero }}" {% if mes_selecionado == numero %}selected{% endif %}>{{ nome }}</option>
            {% endfor %}
          </select>
        </div>

        <!-- Campo para selecionar o ano -->
        <div class="flex flex-col w-56 xl:w-auto mr-4">
          <label for="ano" class="xl:text-base text-xl font-semibold text-gray-700">Selecione o Ano</label>
          <select id="ano" name="ano" class="xl:text-base text-xl mt-1 block w-full px-3 py-2 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
            {% for ano in anos %}
              <option value="{{ ano }}" {% if ano_selecionado == ano %}selected{% endif %}>{{ ano }}</option>
            {% endfor %}
          </select>
        </div>

        <!-- Botão de submissão -->
        <div class="flex flex-col justify-end">
          <button type="submit" class="mt-4 px-4 py-2 bg-blue-500 text-white xl:text-base text-xl font-semibold rounded-md hover:bg-blue-700">Filtrar</button>
        </div>
      </form>
    </div>



</div>



<div class="flex flex-col">
  <div class="flex justify-evenly flex-wrap">
    <div class="py-2 px-2 w-1/2 xl:w-1/4">
          <!-- Card 1 -->

    <div class="ml-4 flex-auto h-44 shadow-xl rounded-2xl transform hover:scale-105 transition duration-300">
        <div class="flex flex-row justify-between items-center h-full px-4">
            <div class="flex flex-col justify-between h-full py-10">
                <div class="pb-4">
                    <h3 class="font-bold text-size uppercase xl:text-base text-lg">Ajuda de Custo Mês Atual</h3>
                </div>
                <div>
                    <p class="px-2 bg-gray-600 rounded text-white font-semibold xl:text-base text-lg">{{ ajudas_mes_atual }}</p>
                </div>
            </div>
            <div class="bg-green-600 rounded-full h-20 min-w-20 flex items-center justify-center">
                <i class="fs-1 bi bi-calendar-fill text-white"></i>
            </div>

        </div>
    </div>

    </div>

    <div class="py-2 px-2 w-1/2 xl:w-1/4">
          <!-- Card 2 -->

        <div class="mr-4 xl:mr-0 flex-auto h-44 shadow-xl rounded-2xl transform hover:scale-105 transition duration-300">
            <div class="flex flex-row justify-between items-center h-full px-4">
                <div class="flex flex-col justify-between h-full py-10">
                    <div class="pb-4">
                        <h3 class="font-bold text-size uppercase xl:text-base text-lg">Ajuda de Custo Mês Anterior</h3>
                    </div>
                    <div>
                        <p class="px-2 bg-gray-600 rounded text-white font-semibold xl:text-base text-lg">{{ ajudas_mes_anterior }}</p>
                    </div>
                </div>
                <div class="bg-red-600 rounded-full h-20 min-w-20 flex items-center justify-center">
                    <i class="fs-1 bi bi-calendar-x-fill text-white"></i>
                </div>

            </div>
        </div>

    </div>

    <div class="py-2 px-2 w-1/2 xl:w-1/4">
          <!-- Card 3 -->

        <div class="ml-4 xl:ml-0 flex-auto h-44 shadow-xl rounded-2xl transform hover:scale-105 transition duration-300">
            <div class="flex flex-row justify-between items-center h-full px-4">
                <div class="flex flex-col justify-between h-full py-10">
                    <div class="pb-4">
                        <h3 class="font-bold text-size uppercase xl:text-base text-lg">Variação Percentual Mês Anterior</h3>
                    </div>
                    <div>
                        <p class="px-2 {{ bg_class }} rounded text-white font-semibold xl:text-base text-lg">{{variacao_percentual}}%</p>
                    </div>
                </div>
                <div class="{{ bg_class }} rounded-full h-20 min-w-20 flex items-center justify-center">
                    <i class="fs-1 bi bi-people-fill text-white"></i>
                </div>

            </div>
        </div>

    </div>

    <div class=" py-2 px-2 w-1/2 xl:w-1/4">
          <!-- Card 4 -->

        <div class="mr-4 flex-auto h-44 shadow-xl rounded-2xl transform hover:scale-105 transition duration-300">
            <div class="flex flex-row justify-between items-center h-full px-4">
                <div class="flex flex-col justify-between h-full py-10">
                    <div class="pb-4">
                        <h3 class="font-bold text-size uppercase xl:text-base text-lg">Servidores Com Ajuda de Custo</h3>
                    </div>
                    <div>
                        <p class="px-2 bg-blue-600 rounded text-white font-semibold xl:text-base text-lg">{{ servidores_com_ajuda }}</p>
                    </div>
                </div>
                <div class="bg-blue-600 rounded-full h-20 min-w-20 flex items-center justify-center">
                    <i class="fs-1 bi bi-people-fill text-white"></i>
                </div>

            </div>
        </div>

    </div>
  </div>
</div>

<div class="pt-4 flex flex-row px-4 xl:px-12 justify-start w-full xl:h-auto h-96">
<!-- Gráfico de barra ajuda custo-->
    <div class=" w-3/4 mr-4 bg-white border border-gray-200 rounded-lg shadow-xl px-4 py-4">
        <div class="flex items-center justify-between pb-4 mb-4 border-b border-gray-200">
            <div>
                <h3 class="text-base font-normal text-gray-500 dark:text-gray-400">Quantidade Total Mensal</h3>
                <span class="text-2xl font-bold leading-none text-gray-900 sm:text-3xl dark:text-white">Ajuda de Custo</span>
            </div>

        </div>
        <div class="">
            <canvas id="chart-bar-ajuda-custo" width="800" height="200"></canvas>
        </div>
    </div>

<!--    GRAFICO MAJOARADO PIZZA-->
    <div class="w-1/4 flex flex-col items-stretch rounded-lg shadow-lg pr-4">
        <div class="border-b border-gray-200 pb-4 mb-4 p-4">
            <h3 class="text-base font-semibold text-gray-500 dark:text-gray-400">Proporçāo Majorado x Normal:</h3>

        </div>


        <div class="h-[280px] xl:p-4 p-1">
            <canvas id="majorado-pizza" width="200" height="100"></canvas>
        </div>

    </div>


</div>



<div class="xl:pt-4 pt-4 pb-4 grid gap-x-6 gap-y-6 grid-cols-2 xl:grid-cols-4 justify-items-center px-4">

    <!-- adicionar ajuda de Custo -->
    <div class="h-auto w-[450px] xl:h-auto xl:w-auto flex flex-col justify-between rounded-lg shadow-lg p-6 transform hover:scale-105 transition duration-300">
        <div class="mb-8">
          <h3 class="xl:text-2xl text-4xl font-semibold ">Ajuda De Custo Operacional</h3>
          <p class="mt-4 text-gray-600">Marque suas datas individuais aqui. </p>
        </div>
        <div class="mb-8">
          <span class="text-xl font-medium text-gray-600"></span>
          <span class="text-3xl font-extrabold "></span>

        </div>

        <a href="{% url 'ajuda_custo:adicionar' %}" class="block w-full xl:py-3 py-4 px-6 text-center text-white xl:text-base text-3xl rounded-md  font-medium bg-gray-600">
          Adicionar Datas:
        </a>
    </div>


    <!-- Administrador Cadastrar -->
    <div class="h-auto w-[450px] xl:h-auto xl:w-auto flex flex-col justify-between rounded-lg shadow-lg p-6 transform hover:scale-105 transition duration-300">
        <div class="mb-8">
          <h3 class="xl:text-2xl text-4xl font-semibold ">Cadastro Administrativo</h3>
          <p class="mt-4 text-gray-600">Cadastro de Ajuda de Custo de Servidores.</p>
        </div>
        <div class="mb-8">
          <span class="text-xl font-medium text-gray-600"></span>
          <span class="text-3xl font-extrabold "></span>

        </div>

        <a href="{% url 'ajuda_custo:admin_cadastrar' %}" class="block w-full xl:py-3 py-4 px-6 text-center text-white xl:text-base text-3xl rounded-md  font-medium bg-gray-600">
          Adicionar:
        </a>
    </div>


    <!-- Limite de horas -->
    <div class="h-auto w-[450px] xl:h-auto xl:w-auto flex flex-col justify-between rounded-lg shadow-lg p-6 transform hover:scale-105 transition duration-300">
        <div class="mb-8">
          <h3 class="xl:text-2xl text-4xl font-semibold ">Limites Horas Servidor</h3>
          <p class="mt-4 text-gray-600">Estipular a Carga Horaria Mensal de Servidor</p>
        </div>


        <a href="{% url 'ajuda_custo:horas_limite' %}" class="block w-full xl:py-3 py-4 px-6 text-center text-white xl:text-base text-3xl rounded-md  font-medium bg-gray-600">
          Adicionar Informaçoes:
        </a>
    </div>

    <!-- Relatorio Rx2 -->
    <div class="h-auto w-[450px] xl:h-auto xl:w-auto flex flex-col justify-between rounded-lg shadow-lg p-6 transform hover:scale-105 transition duration-300">
        <div class="mb-8">
          <h3 class="xl:text-2xl text-4xl font-semibold ">Relatorio Rx2</h3>
          <p class="mt-4 text-gray-600">Introduza relatorio Do Sistema RX-2</p>
        </div>
        <div class="mb-8">
          <span class="text-xl font-medium text-gray-600"></span>
          <span class="text-3xl font-extrabold "></span>

        </div>

        <a href="{% url 'ajuda_custo:upload_excel_rx2' %}" class="block w-full xl:py-3 py-4 px-6 text-center text-white xl:text-base text-3xl rounded-md  font-medium bg-gray-600">
          Adicionar Informaçoes:
        </a>
    </div>


</div>




{% endif %}

<!--tela Usuario Padrao-->

{% if 'Padrao' in user_groups %}

<div class="pt-36 xl:pt-24 xl:px-4 xl:mx-4 mx-3 grid grid-cols-1 gap-8 xl:grid-cols-4 mb-4">

   <!-- adicionar ajuda de Custo -->
    <div class="rounded-lg shadow-lg h-72 p-6 transform hover:scale-105 transition duration-300 flex flex-col">
        <div class="mb-8">
            <h3 class="xl:text-2xl text-4xl font-semibold">Ajuda De Custo Operacional</h3>
            <p class="mt-4 text-gray-600 text-xl xl:text-base">Marque suas datas individuais aqui.</p>
        </div>

        <!-- Botão no final -->
        <a href="{% url 'ajuda_custo:adicionar' %}" class="block w-full xl:py-3 py-4 px-6 text-center text-white xl:text-base text-3xl rounded-md  font-medium bg-green-600">
            Adicionar Datas:
        </a>
    </div>



</div>


{% endif %}




<!--tabela com ajuda de custo-->

<div class="mb-12 flex px-4 xl:px-12 justify-start w-full">
    <div class="bg-white shadow-lg rounded-lg w-full">
        <div class="p-6 rounded-t-lg">
            <div>
               <div class="flex items-center justify-between pb-4 mb-4 border-b border-gray-200">
                    <div>
                        <h3 class="xl:text-base text-2xl font-normal text-gray-500 dark:text-gray-400 pb-2">Relatório</h3>
                        <span class="xl:text-2xl text-5xl font-bold leading-none text-gray-900 dark:text-white">Ajuda de Custo</span>
                    </div>
                   {% if 'Administrador' in user_groups or 'GerGesipe' in user_groups %}
                    <a href="{% url 'ajuda_custo:relatorio_ajuda_custo' %}" class="inline-flex items-center p-2 text-2xl xl:text-xl font-bold uppercase rounded-lg text-primary-700 hover:bg-gray-100 dark:text-primary-500 dark:hover:bg-gray-700">
                        Dados Completos
                        <svg class="w-4 h-4 ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                        </svg>
                    </a>
                   {% endif %}
               </div>
            </div>

                <form method="GET" onsubmit="return false;">
                    <div class="mt-4 px-0 flex flex-row justify-between w-full">
                        <div class="flex flex-row">
                            <input class="form-input w-full sm:w-auto sm:ml-4 p-1.5 rounded-md border-1 border-gray-600"
                                   type="date" name="dataInicial" id="dataInicial" value="{{ dataInicial|date:'Y-m-d' }}"
                                   hx-get="{% url 'ajuda_custo:ajuda_custo_list' %}"
                                   hx-trigger="change delay:500ms"
                                   hx-target="#content2"
                                   hx-include="[name='dataFinal'], [name='query']">

                            <input class="form-input w-full sm:w-auto sm:ml-4 p-1.5 rounded-md border-1 border-gray-600"
                                   type="date" name="dataFinal" id="dataFinal" value="{{ dataFinal|date:'Y-m-d' }}"
                                   hx-get="{% url 'ajuda_custo:ajuda_custo_list' %}"
                                   hx-trigger="change delay:500ms"
                                   hx-target="#content2"
                                   hx-include="[name='dataInicial'], [name='query']">

                            <input type="text" name="query"
                                   class="form-input w-full sm:w-auto sm:ml-4 p-1.5 rounded-md border-1 border-gray-600"
                                   placeholder="Pesquisar..." value="{{ query }}"
                                   hx-get="{% url 'ajuda_custo:ajuda_custo_list' %}"
                                   hx-trigger="keyup changed delay:500ms"
                                   hx-target="#content2"
                                   hx-include="[name='dataInicial'], [name='dataFinal']">

                        </div>
                    </div>
                </form>

        </div>
        <div class="overflow-x-auto">
            <table class="min-w-full bg-white divide-y divide-gray-200">
                <thead class="bg-gray-100">
                    <tr>
                        <th class="px-6 py-3 text-left xl:text-base text-xl font-medium text-gray-500 uppercase tracking-wider">Matricula</th>
                        <th class="px-6 py-3 text-left xl:text-base text-xl font-medium text-gray-500 uppercase tracking-wider">Nome</th>
                        <th class="px-6 py-3 text-left xl:text-base text-xl font-medium text-gray-500 uppercase tracking-wider">Data</th>
                        <th class="px-6 py-3 xl:text-base text-xl font-medium text-gray-500 uppercase tracking-wider">Unidade</th>
                        <th class="px-6 py-3 text-left xl:text-base text-xl font-medium text-gray-500 uppercase tracking-wider">Carga Horaria</th>
                    </tr>
                </thead>
                <tbody id="content2" class="bg-white divide-y divide-gray-200">
                    {% include "partials/ajuda_custo_partial.html" %}
                </tbody>
            </table>
        </div>

        <!-- Paginação -->
        <div class="p-6 bg-gray-100 rounded-b-lg">
            <nav aria-label="Page navigation">
                <ul class="inline-flex items-center -space-x-px">
                    {% if page_obj.has_previous %}
                    <li>
                        <a href="?page=1&query={{ query }}&dataInicial={{ dataInicial }}&dataFinal={{ dataFinal }}" class="px-3 py-2 ml-0 text-sm font-medium text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100">Primeira</a>
                    </li>
                    <li>
                        <a href="?page={{ page_obj.previous_page_number }}&query={{ query }}&dataInicial={{ dataInicial }}&dataFinal={{ dataFinal }}" class="px-3 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 hover:bg-gray-100">Anterior</a>
                    </li>
                    {% endif %}

                    {% for p in page_range %}
                    {% if p == page_obj.number %}
                    <li>
                        <span class="px-3 py-2 text-sm font-medium text-white bg-blue-500 border border-gray-300">{{ p }}</span>
                    </li>
                    {% else %}
                    <li>
                        <a href="?page={{ p }}&query={{ query }}&dataInicial={{ dataInicial }}&dataFinal={{ dataFinal }}" class="px-3 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 hover:bg-gray-100">{{ p }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                    <li>
                        <a href="?page={{ page_obj.next_page_number }}&query={{ query }}&dataInicial={{ dataInicial }}&dataFinal={{ dataFinal }}" class="px-3 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 hover:bg-gray-100">Próxima</a>
                    </li>
                    <li>
                        <a href="?page={{ page_obj.paginator.num_pages }}&query={{ query }}&dataInicial={{ dataInicial }}&dataFinal={{ dataFinal }}" class="px-3 py-2 text-sm font-medium text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100">Última</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>

</div>















<script>
    // Dados do gráfico de barra para Ajuda de Custo
    var ctx = document.getElementById('chart-bar-ajuda-custo').getContext('2d');
    var barLabels = {{ labels_mensais|safe }};  // Labels dos meses
    var barValues = {{ values_mensais|safe }};  // Quantidade mensal de Ajuda de Custo

    var myBarChart = new Chart(ctx, {
        type: 'bar', // Tipo de gráfico: barra
        data: {
            labels: barLabels, // Nomes dos meses (Janeiro, Fevereiro, etc.)
            datasets: [{
                label: 'Total de Ajuda de Custo',
                data: barValues, // Valores mensais calculados no backend
                backgroundColor: 'rgba(210, 0, 0, 1)', // Cor de fundo das barras (vermelho)
                borderColor: 'rgba(210, 0, 0, 1)', // Cor da borda das barras (vermelho)
                borderWidth: 2, // Largura da borda das barras
                borderRadius: 4 // Arredondamento das bordas das barras
            }]
        },
        options: {
            scales: {
                x: {
                    grid: {
                        display: false // Oculta a grade no eixo X
                    }
                },
                y: {
                    beginAtZero: true, // Começa o eixo Y no zero
                    grid: {
                        display: false // Oculta a grade no eixo Y
                    }
                }
            }
        }
    });
</script>


<!--grafico Pizza majorado x normal-->

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var ctx = document.getElementById('majorado-pizza').getContext('2d');
        var myPieChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: {{ pie_labels|safe }},  // Ex.: ['Ajuda Normal', 'Ajuda Majorada']
                datasets: [{
                    label: 'Distribuição de Ajuda de Custo',
                    data: {{ pie_values|safe }},  // Ex.: [50, 30] - dados dinâmicos
                    backgroundColor: [
                        'rgba(54, 162, 35, 1)',  // verde para Ajuda Normal
                        'rgba(255, 69, 58, 1)'   // Vermelho para Ajuda Majorada
                    ],
                    borderColor: [
                        'rgba(54, 162, 35, 1)',  // Verde
                        'rgba(255, 69, 58, 1)'   // Vermelho
                    ],
                    borderWidth: 2
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'bottom',
                        labels: {
                            font: {
                                size: 12
                            }
                        }
                    },
                    tooltip: {
                        callbacks: {
                            label: function(tooltipItem) {
                                return tooltipItem.label + ': ' + tooltipItem.raw;
                            }
                        }
                    },
                    datalabels: {
                        display: true,
                        color: '#ffffff',
                        font: {
                            weight: 'bold',
                            size: 14
                        },
                        formatter: (value) => {
                            return `${value}`;  // Exibe o valor numérico de cada segmento
                        }
                    }
                },
                cutout: '50%'  // Ajusta a espessura do gráfico tipo donut, caso esteja usando um gráfico de donut
            }
        });
    });
</script>


<script>
    document.addEventListener('DOMContentLoaded', function() {
    const dataInicialField = document.getElementById('dataInicial');
    const dataFinalField = document.getElementById('dataFinal');

    // Verificar se os campos já têm valores (vindos do Django)
    if (!dataInicialField.value) {
        const now = new Date();
        const firstDay = new Date(now.getFullYear(), now.getMonth(), 1);
        dataInicialField.value = firstDay.toISOString().split('T')[0];  // Define apenas se estiver vazio
    }

    if (!dataFinalField.value) {
        const now = new Date();
        const lastDay = new Date(now.getFullYear(), now.getMonth() + 1, 0);
        dataFinalField.value = lastDay.toISOString().split('T')[0];  // Define apenas se estiver vazio
    }
});

</script>




{% endblock %}